@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Facility.Maintenance
@using FamTec.Shared.Client.DTO.Normal.Material.InOut


<div class="list yappear">
    <div class="header">
        <span class="title">
            사용 자재 목록
        </span>
        <div class="option">
            @if (!EditMode)
            {
                <Button Name="편집" Width=true OnClick="OnEditMode" />
            }
            else
            {
                if (CheckMaterial.Count != 0)
                {
                    <Button Name="삭제" Width=true Type="1" />
                }
                <Button Name="취소" Width=true Type="2" OnClick="OnEditMode" />
            }
        </div>
        

    </div>
    <div class="content">
        <InOutTable 
            ListData="@ListData" 
            OnCheck=OnCheck 
            EditMode=EditMode
            OnLoadMaintenance="OnLoadMaintenance"
            />
    </div>
</div>

@code {
    [Parameter] public string Title{ get; set; }
    // [Parameter] public List<InOutInventoryDTO> ListData { get; set; }
    [Parameter] public List<UseMaterialDTO> ListData { get; set; }
    [Parameter] public bool EditMode { get; set; }
    [Parameter] public EventCallback OnEdit { get; set; }
    [Parameter] public EventCallback OnLoadMaintenance { get; set; }

    List<int> CheckMaterial = new List<int>();


    private async Task OnDel()
    {
        try
        {

        }catch(Exception ex)
        {

        }
    }



    private void OnCheck((bool isCheck, UseMaterialDTO material)data)
    {
        if (data.isCheck)
        {
            CheckMaterial.Add(data.material.ID);
        }
        else
        {
            CheckMaterial.Remove(data.material.ID);
        }
    }

    private void OnEditMode()
    {
        CheckMaterial.Clear();
        OnEdit.InvokeAsync();
    }
}
