@layout MainLayout2

@inject HttpClient httpClient
@using static System.Net.Mime.MediaTypeNames
@page "/excel"
@using ClosedXML.Excel
@using System.Text
@using System.Text.Json
@using Tewr.Blazor.FileReader
@using System.Drawing
@using Microsoft.AspNetCore.Http
<h3>엑셀 예시</h3>

<input type="button" value="사용자 등록 엑셀양식 다운로드" @onclick="(() =>  btnClick())"/>


<InputFile OnChange="@btnLoad" multiple />


<script src="js/excel.js"></script>

@code {
    private long maxFileSize = long.MaxValue;
    private int maxAllowedFiles = int.MaxValue;
    MultipartFormDataContent content = new MultipartFormDataContent();

    /// <summary>
    /// 이건 테스트 해봐야함. [Upload]
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    protected async Task btnLoad(InputFileChangeEventArgs e)
    {
        content = new MultipartFormDataContent();
        StreamContent fileContent;
        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            fileContent = new StreamContent(file.OpenReadStream(maxFileSize));
            fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(file.ContentType);

            
            content.Add(content: new StringContent(JsonSerializer.Serialize(fileContent), Encoding.UTF8, "application/json"));
            //content.Add(content: fileContent, name: "\"files\"", fileName: file.Name);
        }

        var response = await httpClient.PostAsync("http://123.2.156.148:5245/api/Hub/Excel", content);
        Console.WriteLine("");
    }

    protected async Task btnClick()
    {
        // 엑셀 파일 만듬
        var workbook = new XLWorkbook();

        var worksheet = workbook.Worksheets.Add("사용자등록");

        /* 아이디 */
        worksheet.Cell(1, "A").Value = "아이디";
        worksheet.Column(1).Width = 15;
        worksheet.Row(1).Height = 15;

        var cell = worksheet.Cell(1,1); // A1셀 선택
        cell.Style.Font.FontName = "맑은 고딕"; // 셀의 문자의 글꼴을 설정
        cell.Style.Alignment.Horizontal = XLAlignmentHorizontalValues.Center; // Horizontal 중앙정렬
        cell.Style.Alignment.Vertical = XLAlignmentVerticalValues.Center; // Vertial 중앙정렬
        cell.Style.Border.OutsideBorder = XLBorderStyleValues.Double;
        cell.Style.Border.OutsideBorderColor = XLColor.White;

        /* 비밀번호 */
        worksheet.Cell(1, "B").Value = "비밀번호";
        worksheet.Column(2).Width = 15;
        worksheet.Row(1).Height = 15;

        cell = worksheet.Cell(1, 2); // B1셀 선택
        cell.Style.Font.FontName = "맑은 고딕"; // 셀의 문자의 글꼴을 설정
        cell.Style.Alignment.Horizontal = XLAlignmentHorizontalValues.Center; // Horizontal 중앙정렬
        cell.Style.Alignment.Vertical = XLAlignmentVerticalValues.Center; // Vertial 중앙정렬
        cell.Style.Border.OutsideBorder = XLBorderStyleValues.Double;
        cell.Style.Border.OutsideBorderColor = XLColor.White;

        /* 이름 */
        worksheet.Cell(1, "C").Value = "이름";
        worksheet.Column(3).Width = 15;
        worksheet.Row(1).Height = 15;


        cell = worksheet.Cell(1,3); // A1셀 선택
        cell.Style.Font.FontName = "맑은 고딕"; // 셀의 문자의 글꼴을 설정
        cell.Style.Alignment.Horizontal = XLAlignmentHorizontalValues.Center; // Horizontal 중앙정렬
        cell.Style.Alignment.Vertical = XLAlignmentVerticalValues.Center; // Vertial 중앙정렬
        cell.Style.Border.OutsideBorder = XLBorderStyleValues.Double;
        cell.Style.Border.OutsideBorderColor = XLColor.White;


        /* 이메일 */
        worksheet.Cell(1, "D").Value = "이메일";
        worksheet.Column(4).Width = 15;
        worksheet.Row(1).Height = 15;

        cell = worksheet.Cell(1,4); // B1셀 선택
        cell.Style.Font.FontName = "맑은 고딕"; // 셀의 문자의 글꼴을 설정
        cell.Style.Alignment.Horizontal = XLAlignmentHorizontalValues.Center; // Horizontal 중앙정렬
        cell.Style.Alignment.Vertical = XLAlignmentVerticalValues.Center; // Vertial 중앙정렬
        cell.Style.Border.OutsideBorder = XLBorderStyleValues.Double;
        cell.Style.Border.OutsideBorderColor = XLColor.White;

        /* 전화번호 */
        worksheet.Cell(1, "E").Value = "전화번호";
        worksheet.Column(5).Width = 15;
        worksheet.Row(1).Height = 15;

        cell = worksheet.Cell(1, 5); // C1셀 선택
        cell.Style.Font.FontName = "맑은 고딕"; // 셀의 문자의 글꼴을 설정
        cell.Style.Alignment.Horizontal = XLAlignmentHorizontalValues.Center; // Horizontal 중앙정렬
        cell.Style.Alignment.Vertical = XLAlignmentVerticalValues.Center; // Vertial 중앙정렬
        cell.Style.Border.OutsideBorder = XLBorderStyleValues.Double;
        cell.Style.Border.OutsideBorderColor = XLColor.White;


        var range = worksheet.Range(worksheet.Cell("A1"), worksheet.Cell("E1"));
        // 범위 내의 모든 셀의 배경색을 에스텍색으로 설정
        Color color = Color.FromArgb(2241348);
        range.Style.Fill.BackgroundColor = XLColor.FromColor(color);
        range.Style.Font.Bold = true;
        range.Style.Font.FontColor = XLColor.White;

        var mergerange = worksheet.Range(worksheet.Cell("H1"), worksheet.Cell("N7"));
        mergerange.Merge(); // Merge ()에서 범위의 셀을 결합하는

        mergerange.Value = $"*[해당내용은 참고사항입니다]\r\n업로드 후 생성된 아이디로 로그인하셔서 정보수정 바랍니다.";
        mergerange.Style.Alignment.Horizontal = XLAlignmentHorizontalValues.Left;
        mergerange.Style.Alignment.Vertical = XLAlignmentVerticalValues.Top;

        MemoryStream XLSStream = new();
        workbook.SaveAs(XLSStream, false);
        byte[] byteData = XLSStream.ToArray();


        await JS.InvokeAsync<object>("saveAsFile", "사용자정보.xlsx", System.Convert.ToBase64String(byteData)); // 파일명은 토큰에서 따서 사업장명 쓰면됨.
    }
}
