@page "/test"
@layout MainLayout2
@inject HttpClient httpClient;

<h3>Test</h3>

<image src="@image"></image>

@code {

    string image { get; set; }
    protected async override Task OnInitializedAsync()
    {
        


    }
}
