.groupfield[b-1hzs4akwgp]{
    display: grid;
    grid-template-rows: 1fr auto;
    gap : 20px;
    border : var(--comp-bd);
    padding : var(--default-pd);
    /*place-items: center;*/
}

.groupfield .groupfield-title[b-1hzs4akwgp]{
    padding-bottom :var(--half-pd);
    border-bottom : var(--default-bd);
}

.groupfield .title[b-1hzs4akwgp]{
 
    font-size : 1rem;
    font-weight : var(--bold-wt);
    color :var(--main-color)
    
}

.groupfield .groupfield-item[b-1hzs4akwgp]{
    display : flex;
    flex-direction : column;
    gap : var(--half-pd);
}