.sign[b-noqk2edbz9]{
    display : flex;
    align-items :center;

    width:100%;
    height:100%;
}

.form[b-noqk2edbz9]{
    display : flex;
    flex-direction :column;
    gap: var(--default-pd);

    border :var(--default-bd);
    border-radius : var(--default-rd);


    width:100%;
    padding : var(--default-pd);
    
    background-color : var(--default-color);
}

.title[b-noqk2edbz9]{
    font-size : 2rem;
    font-weight : bold;
    color : var(--main-color);
    margin : 0.5rem 0 ;
}

.input-wrap[b-noqk2edbz9]{
    display : flex;
    flex-direction : column;
    gap : var(--default-pd);
}