.table {
    border-collapse: separate;
    width: 100%;
    max-height: 100%;
   
    table-layout:auto;
}

.table .thead{
    background-color : var(--default-color);
    position:sticky;
    top:0;
    display: table-header-group;
    width:100%;
}

.table .tr{
    width:100%;
}

.table .th{
    text-align : left;
    border-bottom : 2px solid #ddd;
    padding : 0 var(--half-pd);
}

.table .text-center{
    text-align : center;
}

.table th>span{
    display : inline-block;

    font-size : 0.9rem;
    font-weight : var(--bold-wt);
    color : var(--main-color);

    padding : var(--half-pd);


    border-bottom : 2px solid #C2C2C2;
}

.table .tbody{
    overflow:auto;
}

.table .tbody-tr{
    display: table-row;
}

.table .tbody-tr:hover .td{
    background-color : var(--main-light);
    transition : all .1s ease-in;
}

.table .td {
    border-top : var(--three-q-pd) solid var(--default-color);

    /*background-color: #f5f5f5;*/
    background-color: var(--content-back-color);
    padding: var(--half-pd);
    height:1px;
}


/*.table .userinfo{
    display:flex;
    
}*/

.table .table-img{
    display:block;
    max-width: 50px;
    width: 50px;
    height:50px;
    float: left;
    margin-right: 15px;
    /*border-radius : var(--default-rd);*/
    /*border : 2px solid #C2C2C2;*/
    background-color : var(--content-back-color);
}

.table .title-wrap{
    display:flex;
    flex-direction : column;
    gap : var(--one-q-pd);
}

.table .maintitle{
    font-size : 1rem;
    color : var(--main-color);

}

.table .subtitle{
    font-size : 14px;
    color : var(--main-color);
    
}

.table .text-right{
    text-align : right;
}

.italic {
    font-style: italic;
    color : #333;
}

.motion {
    width:100%;
    display:flex;
    align-items:center;
}