.voc-content[b-lks9rc0458] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--half-pd);
    grid-row-gap: var(--default-pd);
}

.full-width[b-lks9rc0458] {
    grid-column: 1 / -1;
}
