.statebar[b-nawc4o3qgl]{
    display :flex;
    width :100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom : var(--wide-pd);
    /*margin: 20px auto;*/ /* 중앙 정렬 */
    /*position:relative;*/
}

.state-icon[b-nawc4o3qgl]{
    z-index :3;
    width : 28px;
    height :28px;
    position : relative;
    border-radius : var(--default-rd);

    background-color :darkgray;
}

.state-line[b-nawc4o3qgl]{
    flex-grow: 1;
    height :4px;
    background-color :darkgray;
}

.active[b-nawc4o3qgl]{
    background-color : var(--status-2);
}

.ani[b-nawc4o3qgl] {
    background-image: linear-gradient(to right, #1b40d5, #5570e6, #879ef3, #bbcbfa, #f5f8ff);
    background-size: 400% 400%;
    animation: aa-b-nawc4o3qgl 5s ease infinite;
}

@keyframes aa-b-nawc4o3qgl {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.state-icon .step-text[b-nawc4o3qgl] {
    margin-top: var(--half-pd);
    position: absolute;
    white-space: nowrap;
    top: 100%;
    left :50%;
    transform: translate(-50%,-50%);
    font-size: var(--normal-size);
    font-weight : var(--bold-wt);
    color : darkgray;
}

.active .step-text[b-nawc4o3qgl]{
    color : var(--status-2);
}
