.selectplace-container[b-vokxs8vq93]
{
    display :flex;
    justify-content : center;
    align-items : center;
    width:100%;
    height:100%;
}

.wrap[b-vokxs8vq93]{
    display : flex;
    flex-direction :column;
    /*gap: var(--default-pd);*/

    width:25%;
    height:50%;

    border: var(--default-bd);
    border-radius : var(--default-rd);
    padding :var(--default-pd) 0;
    background-color : var(--default-color);

}

.header[b-vokxs8vq93] {
    padding: 0 var(--default-pd);
}

.title[b-vokxs8vq93]{
    color : var(--main-color);
    font-size :var(--title-size);
    font-weight : var(--bold-wt);
}



.content[b-vokxs8vq93]{
    height:100%;
    overflow:hidden;
    margin : var(--default-pd) 0 ;
}

.ul[b-vokxs8vq93]{
    display :flex;
    flex-direction :column;
    gap : var(--default-pd);
    height:100%;
    overflow :auto;
    padding: var(--half-pd) var(--default-pd);
    
}

.li[b-vokxs8vq93]{
    display : flex;
    justify-content:space-between;

    border : var(--comp-bd);
    border-radius : var(--default-rd);
    padding : var(--default-pd);

    font-size: var(--normal-size);
    font-weight : var(--bold-wt);
    color : var(--main-color);

    background-color : var(--content-back-color);

    transition : all .3s;
}

.li:hover[b-vokxs8vq93]{
    border:var(--default-bd);
    transform : scale(1.02);
}

.btns[b-vokxs8vq93]{
    display : flex;
    gap : var(--default-pd);
    padding: 0 var(--default-pd);
}