@page "/users/add"
@using FamTec.Client.Pages.Normal.User.UserAdd.Components
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Users

<div class="useradd-container">
    <div class="useradd-wrap">
        <div class="useradd-info">
            <SignForm User="@user" EditMode=@EditMode />
        </div>
        @* <div class="useradd-perm-wrap">
            <div class="useradd-perm" @onclick=@OnVocPer>
                <UserPermComponent UserPerm="@userPerm" />
            </div>
            @if (userPerm.VocPerm != 0)
            {
                <div class="useradd-perm sub yappear">
                    <UserPermComponent/>
                </div>
            }
        </div> *@
        <div class="useradd-perm" @onclick=@OnVocPer>
            <UserPermComponent UserPerm="@userPerm" />
        </div>
        @* @if (userPerm.VocPerm != 0)
        {
            <div class="useradd-perm sub yappear">
                <UserPermComponent />
            </div>
        } *@
        <div class="useradd-perm sub yappear">
            <UserPermComponent />
        </div>
    </div>
    <div class="useradd-btns">
        <Button Name="등록"Width=true Type=0/>
        <Button Name="취소" Width=true Type=1 />
    </div>
</div>

@code {
    bool isVocPerm = false;
    bool EditMode = true;
    UserInfoDTO user;
    UserPermDTO userPerm;

    protected override Task OnInitializedAsync()
    {
        user = new UserInfoDTO();
        userPerm = new UserPermDTO();
        return base.OnInitializedAsync();
    }


    private void OnVocPer()
    {
        isVocPerm = !isVocPerm;
    }
}
