

.infocard-container[b-zd5w6yj1dv]{
    width : 100%;
    display : flex;
    flex-direction : column;
    gap : var(--wide-pd);

    background-color : var(--default-color);

    padding : var(--default-pd);

    border : var(--comp-bd);
    border-radius : var(--default-rd);
    box-shadow : var(--shadow-1);
}

.infocard-container .infocard-header[b-zd5w6yj1dv]{    
    display: flex;
    padding: var(--default-pd);
    justify-content: space-between;
    border-bottom: var(--default-bd);
}


.infocard-container .infocard-header > span[b-zd5w6yj1dv]{
    display: flex;
    align-items: center;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}





.infocard-container .infocard-content[b-zd5w6yj1dv]{
    display : flex;
    gap : var(--wide-pd);
    width : 100%;
    height : 100%;
}

.infocard-container .infocard-inputs[b-zd5w6yj1dv]{
    flex:2;
    width:100%;
    display : grid;
    grid-template-columns : repeat(2,1fr);
    grid-column-gap : var(--wide-pd);
    grid-row-gap : var(--default-pd)
}

.infocard-container .infocard-img-area[b-zd5w6yj1dv]{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:var(--one-q-pd);
    width: 400px;
    max-width: 100%;
    
}

.infocard-container .infocard-img-area[b-zd5w6yj1dv] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    max-width: 100%;
}
