@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Buildings.Group
@using FamTec.Shared.Client.DTO.Normal.Buildings.GroupList
@using FamTec.Shared.Server.DTO


<div class="modal">
    <div class="header">
        <span class="title">
            그룹 추가
        </span>
    </div>
    <div class="input">
        <span>
            그룹명
        </span>
        <input type="text" placeholder="그룹명" @bind-value=@newGroup.Name>
    </div>
    <div class="btns">
        <Button Name="추가" Type="0" OnClick="OnAdded" />
        <Button Name="취소" Type="1" OnClick="OnCloseModal" />
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public EventCallback<AddGroupListDTO> OnAdd { get; set; }
    [Parameter] public EventCallback CloseModal { get; set; }

    AddGroupListDTO newGroup = new AddGroupListDTO();

    private async void OnAdded()
    {
        await OnAdd.InvokeAsync(newGroup);
        OnCloseModal();
    }

    private void OnCloseModal()
    {
        CloseModal.InvokeAsync();
    }
}
;