@page "/users/{Id:int}"
@inherits PermissionComponentBase
@using FamTec.Client.Pages.Normal.User.UserDetail.Components
@using FamTec.Shared.Client.DTO.Normal.Users
@using FamTec.Shared.Server.DTO
@using FamTec.Client.Pages.CommonComponents

<div class="detail-container">
    <div class="detail-wrap">
        <div class="detail-form">
            <SignForm UserInfo="@(EditMode ? User?.UserInfo : OriginalUser?.UserInfo)" EditMode=@EditMode OnEdit="OnEditMode" OnSave="OnUpdate" ReturnSuccess="OnValid" />
        </div>
        <div class="detail-perm">
            <UserPermComponent UserPerm="@(EditMode ? User?.UserPerm : OriginalUser?.UserPerm)" OnVocActive=OnVocActive EditMode=@EditMode />
        </div>
        @if (User?.UserPerm?.VocPerm == 2)
        {
            <div class="useradd-sub yappear">
                <UserVocPermComponent UserVocPerm="@(EditMode ? User?.UserVocPerm : OriginalUser?.UserVocPerm)" EditMode=@EditMode />
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
    UserDTO User = new UserDTO();
    UserDTO OriginalUser;
    UserTbDTO userTb;
    bool EditMode = false;
    bool isVocPerm = false;

    //validation check
    List<int> valid = new List<int> { 0, 0, 0, 0, 0 };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        userTb = new UserTbDTO();
        await OnLoadDetail();
    }


    private async void OnValid((int value, int index) data)
    {
        valid[data.index] = data.value;
    }

    private void OnVocActive(UserPermDTO updatedPerm)
    {
        User.UserVocPerm = new UserVocPermDTO();
        // User.UserPerm = updatedPerm;
        isVocPerm = !isVocPerm;
        StateHasChanged();
    }


    private async Task OnLoadDetail()
    {
        try
        {
            ResponseUnit<UserTbDTO> resDetail = await apiManager.GetUnitAsync<UserTbDTO>($"User/sign/DetailUser?id={Id}");
            if (resDetail.code != 200)
            {
                await JS.InvokeVoidAsync("alert", resDetail.message);
                return;
            }
            userTb = resDetail.data ?? new UserTbDTO(); // resDetail.data가 null일 경우 초기화

            OnUserConvert();
        }catch(Exception ex)
        {
            await JS.InvokeVoidAsync("alert", "조회 실패");
        }

    }

    private async Task OnUpdate()
    {
        try
        {

            OnUserUpdateConvert();

            if (OriginalUser.UserInfo.Password != userTb.PASSWORD)
            {
                if(valid[1] + valid[2] != 2)
                {
                    await JS.InvokeVoidAsync("alert", "비밀번호 입력조건을 확인해 주세요,");
                    return;
                }
            }
            if (OriginalUser.UserInfo.Email != userTb.EMAIL)
            {
                if (valid[3] != 1)
                {
                    await JS.InvokeVoidAsync("alert", "이메일 입력조건을 확인해 주세요,");
                    return;
                }
            }
            ResponseUnit<UserTbDTO> resUpdate = await apiManager.PutAsync<UserTbDTO>("User/sign/UpdateUser", userTb,true);
            if (resUpdate.code != 200)
            {
                await JS.InvokeVoidAsync("alert", resUpdate.message);
                OnEditMode();
                return;
            }
            
            OnEditMode();
            await OnLoadDetail();
            StateHasChanged();

        }catch(Exception ex)
        {
            Console.WriteLine(ex);
            await JS.InvokeVoidAsync("alert", "저장 실패");
        }
    }

    private void OnEditMode()
    {
        EditMode = !EditMode;
        if (!EditMode)
        {
            // User = OriginalUser.Clone();
            if (OriginalUser != null) // OriginalUser가 null이 아닐 경우에만 Clone
            {
                User = OriginalUser.Clone();
            }
        }
    }

    private void OnUserConvert()
    {

        User = new UserDTO()
        {
            UserInfo = new UserInfoDTO(),
            UserPerm = new UserPermDTO(),
            UserVocPerm = new UserVocPermDTO(),
        };
        OriginalUser = new UserDTO
            {
                UserInfo = new UserInfoDTO(),
                UserPerm = new UserPermDTO(),
                UserVocPerm = new UserVocPermDTO(),
            };

        User.Id = userTb.ID;
        User.UserInfo.Name = userTb.NAME;
        User.UserInfo.UserId = userTb.USERID;
        User.UserInfo.Password = userTb.PASSWORD;
        User.UserInfo.Email = userTb.EMAIL;
        User.UserInfo.Phone = userTb.PHONE;
        User.UserInfo.Job = userTb.JOB;
        User.UserInfo.Status = userTb.STATUS;
        User.UserInfo.AlarmYN = userTb.ALRAM_YN;
        User.UserInfo.Image = userTb.Image;
        User.UserInfo.ImageName = userTb.ImageName;

        User.UserPerm.BasicPerm = userTb.PERM_BASIC;
        User.UserPerm.MachinPerm = userTb.PERM_MACHINE;
        User.UserPerm.ElecPerm = userTb.PERM_ELEC;
        User.UserPerm.LiftPerm = userTb.PERM_LIFT;
        User.UserPerm.FirePerm = userTb.PERM_FIRE;
        User.UserPerm.ConstructPerm = userTb.PERM_CONSTRUCT;
        User.UserPerm.NetworkPerm = userTb.PERM_NETWORK;
        User.UserPerm.BeautyPerm = userTb.PERM_BEAUTY;
        User.UserPerm.SecurityPerm = userTb.PERM_SECURITY;
        User.UserPerm.MaterialPerm = userTb.PERM_MATERIAL;
        User.UserPerm.EnergyPerm = userTb.PERM_ENERGY;
        User.UserPerm.UserPerm = userTb.PERM_USER;
        User.UserPerm.VocPerm = userTb.PERM_VOC;

        User.UserVocPerm.MachineVoc = userTb.VOC_MACHINE;
        User.UserVocPerm.ElecVoc = userTb.VOC_ELEC;
        User.UserVocPerm.LiftVoc = userTb.VOC_LIFT;
        User.UserVocPerm.FireVoc = userTb.VOC_FIRE;
        User.UserVocPerm.ConstructVoc = userTb.VOC_CONSTRUCT;
        User.UserVocPerm.NetworkVoc = userTb.VOC_NETWORK;
        User.UserVocPerm.BeautyVoc = userTb.VOC_BEAUTY;
        User.UserVocPerm.SecurityVoc = userTb.VOC_SECURITY;
        User.UserVocPerm.ETCVoc = userTb.VOC_ETC;

        OriginalUser = User.Clone();
    }
    private void OnUserUpdateConvert()
    {
        userTb.ID = User.Id;
        userTb.NAME = User.UserInfo.Name;
        userTb.USERID = User.UserInfo.UserId;
        userTb.PASSWORD = User.UserInfo.Password;
        userTb.EMAIL = User.UserInfo.Email;
        userTb.PHONE = User.UserInfo.Phone;
        userTb.JOB = User.UserInfo.Job;
        userTb.STATUS = User.UserInfo.Status;
        userTb.ALRAM_YN = User.UserInfo.AlarmYN;
        userTb.Image = User.UserInfo.Image;
        userTb.ImageName = User.UserInfo.ImageName;
        // userTb.ImageUrl = User.UserInfo.ImageName;

        userTb.PERM_BASIC = User.UserPerm.BasicPerm;
        userTb.PERM_MACHINE = User.UserPerm.MachinPerm;
        userTb.PERM_ELEC = User.UserPerm.ElecPerm;
        userTb.PERM_LIFT = User.UserPerm.LiftPerm;
        userTb.PERM_FIRE = User.UserPerm.FirePerm;
        userTb.PERM_CONSTRUCT = User.UserPerm.ConstructPerm;
        userTb.PERM_NETWORK = User.UserPerm.NetworkPerm;
        userTb.PERM_BEAUTY = User.UserPerm.BeautyPerm;
        userTb.PERM_SECURITY = User.UserPerm.SecurityPerm;
        userTb.PERM_MATERIAL = User.UserPerm.MaterialPerm;
        userTb.PERM_ENERGY = User.UserPerm.EnergyPerm;
        userTb.PERM_USER = User.UserPerm.UserPerm;
        userTb.PERM_VOC = User.UserPerm.VocPerm;

        userTb.VOC_MACHINE = User.UserVocPerm.MachineVoc;
        userTb.VOC_ELEC = User.UserVocPerm.ElecVoc;
        userTb.VOC_LIFT = User.UserVocPerm.LiftVoc;
        userTb.VOC_FIRE = User.UserVocPerm.FireVoc;
        userTb.VOC_CONSTRUCT = User.UserVocPerm.ConstructVoc;
        userTb.VOC_NETWORK = User.UserVocPerm.NetworkVoc;
        userTb.VOC_BEAUTY = User.UserVocPerm.BeautyVoc;
        userTb.VOC_SECURITY = User.UserVocPerm.SecurityVoc;
        userTb.VOC_ETC = User.UserVocPerm.ETCVoc;
    }
}
