@page "/users/{Id:int}"

<div class="detail-container">
    <div class="detail-wrap">
        <div class="detail-form">
        </div>
        <div class="detail-perm">

        </div>
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
}
