@using FamTec.Client.Pages.CommonComponents


<div class="list">
    <div class="header">
        <span class="title">
            @Title
        </span>
        <Button Name="삭제" Width=true />
    </div>
    <div class="content">
        <InOutTable />
    </div>
</div>

@code {
    [Parameter] public string Title{ get; set; }
    
}
