@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Material.InOut


<div class="list yappear">
    <div class="header">
        <span class="title">
            @Title
        </span>
        @if(CheckData.Count != 0)
        {
            <Button Name="삭제" Width=true Type="1" OnClick="OnDelItem" />
        }

    </div>
    <div class="content">
        <InOutTable 
            ListData="@ListData" 
            OnCheck="OnChecked" 
            InOutType=@InOutType
            />
    </div>
</div>

@code {
    [Parameter] public string Title{ get; set; }
    [Parameter] public List<InOutInventoryDTO> ListData { get; set; }
    [Parameter] public EventCallback<List<InOutInventoryDTO>> ListDataChanged { get; set; }
    [Parameter] public int InOutType { get; set; }

    List<InOutInventoryDTO> CheckData = new List<InOutInventoryDTO>();

    private async Task OnDelItem()
    {
        ListData = ListData.Where(item => !CheckData.Contains(item)).ToList();
        CheckData.Clear();
        await ListDataChanged.InvokeAsync(ListData);
    }

    private void OnChecked((bool isChecked, InOutInventoryDTO data)checkItem )
    {
        if (checkItem.isChecked)
        {
            // 체크된 항목을 리스트에 추가
            if (!CheckData.Contains(checkItem.data))
            {
                CheckData.Add(checkItem.data);
            }
        }
        else
        {
            CheckData.Remove(checkItem.data);
        }
    }
}
