
<div class="tabs">
    @foreach (var item in Tabs.Select((value, idx) => (value, idx)))
    {
        <label class="tab @(_defaultCheck ==item.idx ? "active" : "")" @onclick="()=>OnClicked(item.idx)">
            @item.value
        </label>
    }

</div>

@code {
    [Parameter] public List<string> Tabs{ get; set; }
    [Parameter] public EventCallback<int> OnClick { get;set; }
    private int _defaultCheck = 1;

    private async void OnClicked(int idx)
    {
        _defaultCheck = idx;
        await OnClick.InvokeAsync(idx);
    }
}
