<div class="groupfield">
    <div class="groupfield-title">
        <span class="title">
            @Title
        </span>
    </div>
    
    <div class="groupfield-item">
        <InputFieldSmall Label="@Sub1" EditMode=EditMode />
        <InputFieldSmall Label="@Sub2" EditMode=EditMode />
        <InputFieldSmall Label="@Sub3" EditMode=EditMode />
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Sub1 { get; set; }
    [Parameter] public string Sub2 { get; set; }
    [Parameter] public string Sub3 { get; set; }

    bool EditMode = true;
}
