.detail-container[b-e08ahp3mvd] {
    display: flex;
    flex-direction: column;
    gap: var(--wide-pd);
    padding: var(--wide-pd);
}

.detail-wrap[b-e08ahp3mvd] {
    display: flex;
    flex-direction: column;
    gap: var(--wide-pd);
}

.btns[b-e08ahp3mvd] {
    display : flex;
    gap : var(--half-pd);
    justify-content : flex-end;
}