@using FamTec.Client.Pages.CommonComponents
<div class="additem">
    <div class="header">
        <span class="title">
            추가 정보
        </span>
        <div class="options">
            <Button Name="추가" Width=true Type="0"/>
        </div>
    </div>
    <div class="content">

    </div>
</div>
@* 그룹 생성 모달 *@


@code {

}
