@page "/material/detail"
@using FamTec.Client.Pages.Normal.Material.DetailSearch.Components
@using FamTec.Shared.Client.DTO.Normal.Material.Detail


<div class="detailsearch ">
    <SearchFilter ValueChange="@ValueChange" DateChange=DateChange />
    @* @if (MaterialList != null)
    {
     
    } *@
    <MaterialHistory ListData="MaterialList" StartDt="@startDt" EndDt="@endDt"/>
</div>

@code {
    // public List<DetailMaterialListDTO> MaterialList = new List<DetailMaterialListDTO>();
    public List<DetailMaterialListDTO> MaterialList;
    string startDt;
    string endDt;

    private void ValueChange(List<DetailMaterialListDTO> data)
    {
        if (data == null)
        {
            MaterialList = new List<DetailMaterialListDTO>();
        }
        else
        {
            MaterialList = new List<DetailMaterialListDTO>(data);
        }
        StateHasChanged();
    }

    private void DateChange((string start, string end)date)
    {
        startDt = date.start;
        endDt = date.end;
    }
}
