@page "/material/detail"
@using FamTec.Client.Pages.Normal.Material.DetailSearch.Components
@using FamTec.Shared.Client.DTO.Normal.Material.Detail


<div class="detailsearch yappear">
    <SearchFilter ValueChange="@ValueChange" />
    <MaterialHistory ListData="MaterialList" />
</div>

@code {
    public List<DetailMaterialListDTO> MaterialList = new List<DetailMaterialListDTO>();


    private void ValueChange(List<DetailMaterialListDTO> data)
    {
        Console.WriteLine("동작");
        MaterialList = data;
        Console.WriteLine("부모 : " + data.Count);

        StateHasChanged();
    }
}
