@page "/material/detail"
@using FamTec.Client.Pages.Normal.Material.DetailSearch.Components
@using FamTec.Shared.Client.DTO.Normal.Material.Detail


<div class="detailsearch">
    <SearchFilter ValueChange="@ValueChange" />
    <MaterialHistory ListData="MaterialList" />
</div>

@code {
    public List<DetailMaterialListDTO> MaterialList = new List<DetailMaterialListDTO>();


    private void ValueChange(List<DetailMaterialListDTO> data)
    {
        MaterialList = data;
        foreach(var i in MaterialList)
        {
            Console.WriteLine(i.Name);
        }
        StateHasChanged();
    }
}
