@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Voc


<div class="voc-content">
    <div><TextField Label="접수 번호" Value=@Data.Code /></div>
    <div><TextField Label="처리 상태" Value=@_status /></div>
    <div><TextField Label="접수자" Value=@Data.CreateUser /></div>
    <div><TextField Label="접수 일자" Value=@Data.CreateDT /></div>
    <div><TextField Label="담당 부서" Value=@Data.Type /></div>
    <div><TextField Label="건물명" Value=@Data.BuildingName /></div>
    <div class="full-width"><TextField Label="제목" Value=@Data.Title /></div>
    <div class="full-width"><TextField Label="내용" Value=@Data.Contents /></div>
    <div class="full-width">
        @if (images.Count != 0)
        {
            <ImageSlider Images="@images" Label="첨부 이미지" />
        }
    </div>
     
</div>

@code {
    [Parameter] public DetailVocUserDTO Data { get; set; }

    List<byte[]> images = new List<byte[]>();
    private string _status;
    string SelectDepartmentName;
    List<int> nullIndex = new List<int>();
    protected override async Task OnParametersSetAsync()
    {
        _status = Data.Status switch
        {
            0 => "미처리",
            1 => "처리중",
            2 => "처리 완료"
        };

        await OnIMGConvert();
        // OnConvertType();
    }


    private async Task OnIMGConvert()
    {
        images = new List<byte[]>();
        foreach (var data in Data.Images.Select((value, idx) => (value, idx)))
        {
            if (data.value == null)
            {
                nullIndex.Add(data.idx);
                return;
            }
            images.Add(data.value);
        }

        StateHasChanged();
    }

    // private async Task OnConvertType()
    // {
    //     SelectDepartmentName = Data.Type switch
    //     {
    //         0 => "미분류",
    //         1 => "기계",
    //         2 => "전기",
    //         3 => "승강",
    //         4 => "소방",
    //         5 => "건축",
    //         6 => "통신",
    //         7 => "미화",
    //         8 => "보안",
    //         _ => "Unknown"
    //     };
    // }

}
