.statebar{
    display :flex;
    width :100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom : var(--wide-pd);
    /*margin: 20px auto;*/ /* 중앙 정렬 */
    /*position:relative;*/
}

.state-icon{
    z-index :3;
    width : 28px;
    height :28px;
    position : relative;
    border-radius : var(--default-rd);

    background-color :darkgray;
}

.state-line{
    flex-grow: 1;
    height :4px;
    background-color :darkgray;
}

.active{
    background-color : var(--status-2);
}

.ani {
    background-image: linear-gradient(to right, #1b40d5, #5570e6, #879ef3, #bbcbfa, #f5f8ff);
    background-size: 400% 400%;
    animation: aa 5s ease infinite;
}

@keyframes aa {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.state-icon .step-text {
    margin-top: var(--half-pd);
    position: absolute;
    white-space: nowrap;
    top: 100%;
    left :50%;
    transform: translate(-50%,-50%);
    font-size: var(--normal-size);
    font-weight : var(--bold-wt);
    color : darkgray;
}

.active .step-text{
    color : var(--status-2);
}
