@page "/admin/manager"

@using FamTec.Client.Pages.Admin.Manager.ManagerMain.Components
@using FamTec.Shared.Client.DTO;
@using FamTec.Shared.Model
@using FamTec.Shared.Server
@using FamTec.Shared.Server.DTO
@inject HttpClient HttpClient
@inherits PermissionComponentBase

<div class="manager-container yappear">
    <div class="depart">
        <Department 
            UserType=@(ADMINEDIT) 
            OnLoadManager="@OnLoadManagers"
            OnSelectedDepartment="HandleDepartmentSelected" />
    </div>
    <div class="managerlist">
        <ManagerList 
            ListData=@managerList
            OnLoadManager="@OnLoadManagers"
            UserType=@(ADMINEDIT) SelectDepartment="@selectDepartment" />
    </div>
</div>

@code {
    public int LoginMode;
    public string selectDepartment { get; set; } = "";
    List<ManagerDTO> managerList;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await OnLoadManagers();
    }

    private async Task OnLoadManagers()
    {
        try
        {
            ResponseList<ManagerDTO>? resManager = await apiManager.GetListAsync<ManagerDTO>("AdminPlace/sign/GetAllManagerList");
            if (resManager.code != 200)
            {
                await JS.InvokeVoidAsync("alert", "매니저 조회 실패");
                return;
            }
            if (resManager.data == null)
            {
                managerList = new List<ManagerDTO>();
            }
            else
            {
                managerList = resManager.data;
                // filterList = new List<ManagerDTO>(managerList);
            }
            return;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"[Admin][Department] 매니저 조회 에러\n{ex.Message}");
        }
    }

    private void HandleDepartmentSelected(string name)
    {   
        if(selectDepartment == name)
        {
            selectDepartment = "";
        }
        else
        {
            selectDepartment = name;
        }

    }

    
}
