@page "/admin/manager"

@using FamTec.Client.Pages.Admin.Manager.ManagerMain.Components
@using FamTec.Shared.Client.DTO;
@using FamTec.Shared.Model
@using FamTec.Shared.Server
@using FamTec.Shared.Server.DTO
@inject HttpClient HttpClient
@inherits PermissionComponentBase

<div class="manager-container yappear">
    <div class="depart">
        <Department UserType=@(ADMINEDIT)/>
    </div>
    <div class="managerlist">
        <ManagerList UserType=@(ADMINEDIT) />
    </div>
</div>

@code {
    public int LoginMode;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    
}
