@page "/admin/manager"

@using FamTec.Client.Pages.Admin.Manager.ManagerMain.Components
@using FamTec.Shared.Client.DTO;
@using FamTec.Shared.Model
@using FamTec.Shared.Server
@using FamTec.Shared.Server.DTO
@inject HttpClient HttpClient
@inherits PermissionComponentBase

<div class="manager-container yappear">
    <div class="depart">
        <Department UserType=@(ADMINEDIT) OnSelectedDepartment="HandleDepartmentSelected" />
    </div>
    <div class="managerlist">
        <ManagerList UserType=@(ADMINEDIT) SelectDepartment="@selectDepartment" />
    </div>
</div>

@code {
    public int LoginMode;
    public string selectDepartment { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void HandleDepartmentSelected(string name)
    {   
        if(selectDepartment == name)
        {
            selectDepartment = "";
        }
        else
        {
            selectDepartment = name;
        }

    }

    
}
