@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO
@inherits PermissionComponentBase

<table class="table">
    <thead class="thead">
        <tr class="thead-tr">
            <th class="th">
                <span>
                    사업장명
                </span>
            </th>
            <th class="th">
                <span>
                    계약번호
                </span>
            </th>
            <th class="th">
                <span>
                    계약일자
                </span>
            </th>
            @if (ADMINEDIT)
            {
                <th class="th">

                </th>
            }
            
        </tr>
    </thead>
    <tbody class="tbody">
        @if (ListData.Count == 0)
        {
            <tr>
                <td colspan="100" style="text-align:center;">
                    @* <Empty /> *@
                </td>
            </tr>
        }
        else if (ListData is null)
        {
            <tr>
                <td colspan="100" style="text-align:center;">
                    <Loading />
                </td>
            </tr>
        }
        else
        {
             @foreach(var row in ListData)
            {
                <tr class="tbody-tr"@onclick=@(()=>onCheckItem(row))>
                    <td class="td pointer">
                        @row.Name
                    </td>
                    <td class="td pointer">
                       @row.ContractNum
                    </td>
                    <td class="td pointer">
                        @row.ContractDt?.ToString("yyyy-MM-dd")
                    </td>
                    @if (ADMINEDIT)
                    {
                        <td class="td">
                            <input 
                                class="pointer"
                                type="checkbox" 
                                checked=@(CheckedData.Any(p => p.Id == row.Id)) 
                                />
                        </td>
                    }
                    
                </tr>
            }
        }
    </tbody>
</table>


@code {
    [Parameter] public List<PlaceTableDTO> ListData { get; set; }
    [Parameter] public EventCallback<PlaceTableDTO> OnCheck { get; set; }

    List<PlaceTableDTO> CheckedData = new List<PlaceTableDTO>();

    //체크
    private HashSet<int> _checkItem = new HashSet<int>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }



    private async void onCheckItem(PlaceTableDTO place)
    {
        Console.WriteLine("체크");
        if (CheckedData.Any(c => c.Id == place.Id))
        {
            CheckedData.RemoveAll(p => p.Id == place.Id);
        }
        else
        {
            CheckedData.Add(place);
        }


        //체크여부 부모로 넘김
        await OnCheck.InvokeAsync(place);
    }


}
