

.viewer[b-e3l01sqxie] {
    display: inline-block;
    flex-direction: column;
    width: max-content;
    position: relative; /* 추가 */
}

.label[b-e3l01sqxie]{
    display: inline-block; /* 추가 */
    font-size : var(--normal-size);
    font-weight : var(--bold-bd);
    color :darkgray;

    border : var(--comp-bd);
    border-radius : var(--default-rd);
    padding : var(--half-pd) var(--default-pd);
}

.focus[b-e3l01sqxie] {
    color: var(--main-color);
}



.ul[b-e3l01sqxie]{
    display :none;
    position: absolute; /* 변경 */
    top: 100%; /* 추가 */
    left: 0; /* 추가 */
    width: 100%; /* 추가 */
    top : var(--wide-pd);
    border : var(--comp-bd);
    border-radius : var(--default-rd);
    background-color :var(--default-color);
    z-index : 3;
}

.show[b-e3l01sqxie]{
    display : flex;
    flex-direction : column;
}

.li[b-e3l01sqxie]{

    font-size : var(--normal-size);
    font-weight : var(--bold-bd);
    color :var(--main-color);
    padding : var(--half-pd) var(--default-pd);
    border-radius : var(--default-rd);
    white-space :nowrap;
}

.li:hover[b-e3l01sqxie]{
    background-color : var(--main-color);
    color : var(--default-color);
}