
.vochistory-container[b-i7u2all02v] {
    padding: var(--default-pd);
    width: 100%;    
}

.vochistory-container .vochistory-wrap[b-i7u2all02v]{
    background-color : var(--default-color);
    display : flex;
    flex-direction:column;
    gap :var(--default-pd);
    padding : var(--default-pd);
    min-height: 100%;
    height:100%;
    border : var(--comp-bd);
    border-radius : var(--default-rd);
    box-shadow : var(--default-bs);
}


.vochistory-container .vochistory-title[b-i7u2all02v]{
     display : flex;
    justify-content:space-between;
    align-items:center;

    padding:var(--default-pd);
    border-bottom : var(--default-bd);
}

.vochistory-container .title[b-i7u2all02v]{
    white-space: nowrap;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.vochistory-container .vochistory-content[b-i7u2all02v]{
}

.vochistory-container .option[b-i7u2all02v]{
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.vochistory-container .option-page[b-i7u2all02v]{
    display : flex;
    gap : var(--default-pd);
}

.vochistory-container .date-none[b-i7u2all02v]{
    display : none;
}


