@layout MainLayout2
@page "/voc/select/{voocode}"
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Voc
@using FamTec.Shared.Server.DTO
@using FamTec.Client.Pages.Voc.Select.Components


<div class="select yappear">
    <div class="header">
        <span class="title">
            민원 조회
        </span>
    </div>
    <StateBar Status="@Voc.Status.Value"/>
    <div class="content">
        <div class="item">
            <span class="item-title">
                접수내용
            </span>
            <Content Data=@Voc />
        </div>
        <div class="item">
            <span class="item-title">
                처리내용
            </span>
        </div>
    </div>
    <Button Name="확인" Type="0" OnClick="OnReturn"/>
</div>

@code {
    [Parameter] public string voocode { get; set; }
    DetailVocDTO Voc = new DetailVocDTO();

    protected override async Task OnInitializedAsync()
    {
        await OnLoadVoc();

    }
    private async Task OnLoadVoc()
    {
        try{
            ResponseUnit<DetailVocDTO> resVoc = await apiManager.GetUnitAsync<DetailVocDTO>($"Hub/VocInfo?voccode={voocode}");
            if(resVoc.code != 200)
            {
                await JS.InvokeVoidAsync("alert", "민원 조회 실패");
                return;
            }
            Voc = resVoc.data;
        }
        catch (Exception ex)
        {
            Console.WriteLine("[Voc][Detail][User] 민원 조회 에러" +ex);
            await JS.InvokeVoidAsync("alert", "민원 조회 에러");
        }
    }

    private void OnReturn()
    {
        Navigation.NavigateTo("/voc/banner");
    }
}
