.placetable-container {
    display: flex;
    flex-direction: column;
    gap: var(--default-pd);

    height: 100%;

    border : var(--comp-bd);
    border-radius : var(--default-rd);
    background-color : var(--back-default-color);

    padding : var(--default-pd);
}

.placetable-container .placetable-title{
     display: flex;
    justify-content: space-between;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    padding: var(--default-pd);
    border-bottom: var(--default-bd);
}
.placetable-container .title {
    display : flex;
    align-items : center;
    color: var(--main-color);
}

.placetable-container .placetable-table {
    height:100%;
    overflow:auto;
}
.placetable-container .placetable-count{

    border-radius : var(--default-rd);
    padding : var(--three-q-pd);
    
    
    font-size : var(--normal-size);
    font-weight : var(--bold-wt);

    background-color : var(--main-color);

}
.placetable-container .placetable-count>span{
   color:var(--default-color);
}
