
.m-search[b-mqctft23bz]{
    display : flex;
    flex-direction : column;
    gap : var(--default-pd);
    
    width : 100%;
    /*height : 100%;*/
    padding : var(--default-pd) var(--wide-pd);

    border : var(--comp-bd);
    border-radius : var(--default-rd);
    box-shadow:var(--shadow-1);
    background-color : var(--default-color);
}

.header[b-mqctft23bz]{
    display : flex;
    padding : var(--default-pd) 0;

    justify-content : space-between;
    border-bottom : var(--default-bd);
}

.title[b-mqctft23bz] {
    display: flex;
    align-items: center;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.content[b-mqctft23bz]{
    display : flex;
    justify-content :space-between;
    gap : var(--wide-pd);
}