.groupfield[b-mkfpw9b4ys]{
    display: grid;
    grid-template-rows: 1fr auto;
    gap : 20px;
    border : var(--comp-bd);
    border-radius : var(--default-rd);
    padding : var(--default-pd);
    transition : all .3s;
    background-color:var(--content-back-color);
    
}

.groupfield:hover[b-mkfpw9b4ys]{
    transform:scale(1.05);
}

.groupfield .groupfield-title[b-mkfpw9b4ys]{
    padding-bottom :var(--half-pd);
    border-bottom : var(--default-bd);
}

.groupfield .title[b-mkfpw9b4ys]{
 
    font-size : 1rem;
    font-weight : var(--bold-wt);
    color :var(--main-color)
    
}

.groupfield .groupfield-item[b-mkfpw9b4ys]{
    display : flex;
    flex-direction : column;
    gap : var(--half-pd);
}