@page "/material/info"
@using FamTec.Client.Pages.CommonComponents

<div class="container">
    <div class="wrap">
        <div class="header">
            <span class="title">
                자재목록
            </span>
            <div class="options">
                <Button 
                    Name="등록"
                    Type="0"
                    Width=true/>
                <Button Name="삭제"
                        Type="1"
                        Width=true />
            </div>
        </div>
        <div>

        </div>
    </div>
</div>

@code {

}
