@page "/material/info"
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Normal.Material.Info.Main.Components
@using FamTec.Shared.Client.DTO.Normal.Material
@using FamTec.Shared.Server.DTO

<div class="container">
    <div class="wrap">
        <div class="header">
            <span class="title">
                자재목록
            </span>
            <div class="options">
                <Button 
                    Name="등록"
                    Type="0"
                    Width=true/>
                <Button Name="삭제"
                        Type="1"
                        Width=true />
            </div>
        </div>
        <div class="content">
            <MaterialTable/>
        </div>
    </div>
</div>

@code {
    List<MaterialListDTO> Material;


    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task OnLoadMaterial()
    {
        try
        {
            //ToDo
            //apimanager 이미지 처리부분 추가해야함
            ResponseList<MaterialListDTO> resGet = await apiManager.GetListAsync<MaterialListDTO>("Material/sign/GetAllMaterial");
            if(resGet.code != 200)
            {
                await JS.InvokeVoidAsync("alert", "[Material][Info] 자재 조회 실패");
                return;
            }
            Material = resGet.data;

        }catch(Exception ex)
        {
            Console.WriteLine("[Material][Info] 자재 조회 에러" +ex);
            await JS.InvokeVoidAsync("alert", "[Material][Info] 자재 조회 에러");
        }
    }
}
