.placetoggle-container {
    display: flex;
    flex-direction: column;
    border: var(--comp-bd);
    border-radius: var(--default-rd);
    background-color: var(--default-color);
    padding: var(--default-pd);
    height: 100%;
}


.placetoggle-container .placetoggle-title{
    font-size:var(--title-size);
    font-weight:var(--bold-wt);
    padding: var(--default-pd);
    border-bottom: var(--default-bd);
}
.placetoggle-container .placetoggle-title>span{
    color:var(--main-color);
}

.placetoggle-container .placetoggle-toggle{
    display : grid;
    grid-template-columns : repeat(5, 1fr);
    gap:var(--default-pd);
    padding : var(--default-pd);

}