@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO
@typeparam T

<div class="placetable-container">
    <div class="placetable-title">
        <span>
            사업장 매니저
        </span>
        <div class="placetable-btns">
            @if (EditMode)
            {
                <Button Name="추가" Width="true" Type=0 />
                <Button Name="삭제" Width="true" Type=1 />
            }
            
        </div>
    </div>
    <div class="placetable-table">
        <Table DataList="DataList"/>
    </div>
</div>

@code {
    [Parameter] public List<T> DataList { get; set; }
    [Parameter] public bool EditMode{ get; set; }

    protected override Task OnInitializedAsync()
    {
        Console.WriteLine("하위컴포넌트");
        return base.OnInitializedAsync();
    }
}
