.inputfield-container[b-uz6flisf9l] {
    display: grid;
    /*grid-template-columns: auto max-content max-content;*/
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "label input";
    grid-gap: var(--default-pd);
    width: 100%;
    position: relative;
}

.flex[b-uz6flisf9l]{
    display : flex;
    
}

.inputfield-container .inputfield-label[b-uz6flisf9l]{
    
    grid-area:label;
    place-self: center;
    padding: var(--half-pd) 0 ;


    width : 100%;
    font-weight:var(--bold-wt);
    font-size: var(--normal-size);
    color : var(--main-color);
    white-space:nowrap;
}


.inputfield-container .inputfield-input[b-uz6flisf9l]{
    transition : all ease-in-out .2s;
    grid-area : input;
    place-self: center;

    width : 100%;
    padding :var(--default-pd);
    outline: none;
    /*border: 2px solid transparent;*/
    border:none;
    border-bottom: var(--input-bd);

}

.inputfield-container .block[b-uz6flisf9l]{
    transition : all ease-in-out .2s;
    border: var(--input-block-bd);
    border-radius: var(--default-rd);
    padding: var(--default-pd);
    background-color: var(--light-color);
}

.inputfield-container .inputfield-input:focus[b-uz6flisf9l]{
    border-bottom: var(--default-bd);
}

.inputfield-container .btn[b-uz6flisf9l]{
    position : absolute;
    top:0;
    bottom:0;
    right: 0;
    height:100%;
    font-size: var(--normal-size);
    background-color: var(--main-color);
    color: var(--default-color);
    
    border: none;
    border-radius: var(--default-rd);
    padding: 0 var(--half-pd);
}

.inputfield-container .btn:hover[b-uz6flisf9l]{
    transition : all ease-in-out 0.2s;
    background-color: var(--main-hover);
}

