.selectfield-container[b-iv6h6rvvwi] {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "label select";
    grid-gap: var(--default-pd);
    width: 100%;
    position: relative;
}


.selectfield-container .selectfield-label[b-iv6h6rvvwi] {
    grid-area: label;
    place-self: center;
    padding: var(--half-pd) 0;
    width: 100%;
    font-weight: var(--bold-wt);
    font-size: var(--normal-size);
    white-space: nowrap;
    color : var(--main-color);
}

.selectfield-container .selectfield-select[b-iv6h6rvvwi] {
    grid-area: select;
    place-self: center;
    width: 100%;
    padding: var(--default-pd);
    outline: none;
    border: none;
    border-bottom: var(--input-bd);
}

.selectfield-container .selectfield-select:focus[b-iv6h6rvvwi] {
    border-bottom: var(--main-color);
}

/*
    ul li 형태
*/
.selectfield-container .selectfield-wrap[b-iv6h6rvvwi]{
    grid-area: select;
    place-self: center;
    width: 100%;
    /*padding: 1rem 0;*/
    outline: none;
    border: none;
    border-bottom: var(--input-bd);

    position:relative;

    font-size:var(--normal-size);
    /*font-weight: bold*/
}
.selectfield-container .selectfield-select[b-iv6h6rvvwi] {
    display: none;
    position: absolute;
    top:100%;
    background-color: var(--default-color);
    border: var(--input-bd);
    border-radius: var(--default-rd);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: var(--one-q-pd);
    list-style: none;
    margin: 0;
    z-index: 1;
    max-height:200px;
}

.selectfield-container .reverse[b-iv6h6rvvwi]{
    top:auto;
    bottom : 100%;
   
}

.selectfield-container .selectfield-display[b-iv6h6rvvwi]{
    font-weight: var(--normal-wt);
    color: darkgray;
    font-weight : var(--bold-wt);
    padding: var(--default-pd);
}

.selectfield-container .selectfield-display>span[b-iv6h6rvvwi]{
    color:black; /*수정 예정*/
}

.selectfield-container .selectfield-option[b-iv6h6rvvwi] {
    border-radius: var(--default-rd);
    padding: var(--half-pd);
    color: gray; /**/
    cursor: pointer;
}
.selectfield-container .selectfield-option:hover[b-iv6h6rvvwi]{
    transition:all ease-in-out 0.2s;
    background-color:var(--main-color);
    color: var(--default-color);
}

.selectfield-container .selectfield-select.show[b-iv6h6rvvwi] {
    display: block;
    overflow:auto;
}