.voc[b-ctwc34a2zh]{
    display : flex;
    flex-direction : column;
    justify-content :space-between;
    gap : var(--wide-pd);
    height:100%;
}

.voc .header[b-ctwc34a2zh]{
    /*padding : var(--default-pd) 0;*/
}

.title[b-ctwc34a2zh]{
    font-size : var(--title-size);
    font-weight : var(--bold-wt);
    color : var(--main-color);
}


.content[b-ctwc34a2zh]{
    flex : 1;
    /*height:100%;*/
    display : flex;
    flex-direction :column;
    gap:var(--default-pd);
    overflow : auto;
}

.btns[b-ctwc34a2zh]{
    display : flex;
    gap : var(--default-pd);
}

.blockbtn[b-ctwc34a2zh]{
    cursor : not-allowed;
    width : 100%;
    border : none;
    outline : none;
    border-radius : var(--default-rd);
    padding : var(--half-pd);
    font-size : var(--normal-size);
    font-weight:var(--bold-wt);
    color : darkgray;
}