.result[b-zq6lzuvwfx] {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items:center;*/
    gap: var(--wide-pd);
    height: 100%;
}

.title[b-zq6lzuvwfx] {
    font-size: calc(var(--title-size));
    font-weight: bolder;
    color: var(--main-color);
}

.content[b-zq6lzuvwfx] {
    width: 100%;
    display:flex;
    flex-direction : column;
    
    gap: var(--default-pd);
}