.addmodal[b-prp9p1j9tr] {
    display: flex;
    flex-direction: column;
    gap: var(--default-pd);
    padding: var(--default-pd);
    border-radius: var(--default-rd);
    border: var(--default-bd);
    width: 30%;
    height: 80%;
    background-color: var(--default-color);
    box-shadow: var(--default-bs);
}

.addmodal .hedaer[b-prp9p1j9tr]{
    font-size : var(--title-size);
    font-weight : var(--bold-bd);
}
.addmodal .header > .title[b-prp9p1j9tr]{
    font-size : var(--title-size);
    font-weight : var(--bold-wt);
    color : var(--main-color);
}



.content[b-prp9p1j9tr] {
    /*height: 100%;
    display : flex;
    flex-direction : column;
    gap : var(--default-pd);
    overflow: auto;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--default-pd);
    overflow: auto;
}

.col[b-prp9p1j9tr]{
    display : flex;
    flex-direction : column;
    gap : var(--half-pd);

    font-size : var(--normal-size);
    font-weight : var(--bold-wt);
}

.height[b-prp9p1j9tr] {
    height : 100%;
}

.col label[b-prp9p1j9tr] {
    color : var(--main-color);
    
}

.col span[b-prp9p1j9tr] {
    font-size: calc(var(--normal-size) + 0.1rem);
}


.col[b-prp9p1j9tr]  textarea{
    width : 100%;
    height : 100%;
    resize :none;
    outline : none;
    border : var(--input-bd);
    border-radius : var(--default-rd);
    padding : var(--default-pd);
    transition : all .3s
}


.col[b-prp9p1j9tr]  textarea:focus{
    border : var(--default-bd);
}

.btns[b-prp9p1j9tr]{
    display : flex;
    gap : var(--default-pd);

}

.ul[b-prp9p1j9tr] {
    display: flex;
    flex-direction: column;
    gap: var(--half-pd);
}

.li[b-prp9p1j9tr] {
    display: flex;
    gap: var(--half-pd);
    align-items: center;
    transition: all .3s;
}

.img-title[b-prp9p1j9tr] {
    font-size: var(--explain-size);
    font-weight: bold;
}

.xicon:hover[b-prp9p1j9tr] {
    cursor: pointer;
}

