.signup-container{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:var(--content-back-color);
}

.signup-container .signup-wrap{
    width:25%;
    display : flex;
    flex-direction:column;

    border : var(--default-bd);
    border-radius : var(--default-rd);
    padding : var(--default-pd);
    background-color : var(--default-color);
    box-shadow:var(--default-bs);
}

.signup-container .signup-title{
    display:flex;
    justify-content:space-between;
    padding : var(--default-pd);
    border-bottom : var(--default-bd);
}


.signup-container .title{
    font-size : var(--title-size);
    font-weight : var(--bold-wt);
    color : var(--main-color);
   
}

.signup-container .signup-form{
    display:flex;
    flex-direction:column;
    gap : var(--default-pd);
    padding : var(--default-pd);
}
