.fac-container[b-74h6h1kpt4] {
    padding : var(--default-pd);
    height:100%;
}

.fac-wrap[b-74h6h1kpt4] {
    display: flex;
    flex-direction: column;
    gap: var(--default-pd);
    padding: var(--default-pd) var(--wide-pd);
    width: 100%;
    min-height: 100%;
    /*height: 100%;*/
    border: var(--comp-bd);
    border-radius: var(--default-rd);
    background-color: var(--default-color);
    box-shadow: var(--shadow-1);
}
.fac-container .fac-header[b-74h6h1kpt4]{
    display : flex;
    justify-content:space-between;
    align-items:center;

    padding:var(--default-pd) 0;
    border-bottom : var(--default-bd);
}

.fac-container .header-options[b-74h6h1kpt4]{
    display :flex;
    gap : var(--half-pd);
}

.fac-container .title[b-74h6h1kpt4]{
     white-space: nowrap;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.height[b-74h6h1kpt4]{
    height:100%;
}