.inputfield-container[b-0qzkbvgpxp] {
    /*display: grid;*/
    /*grid-template-columns: auto max-content max-content;*/
    /*grid-template-columns: 1fr 3fr;
    grid-template-areas: "label input";
    grid-gap: var(--default-pd);*/

    display : flex;
    place-content : center;
    flex-direction : column;
    width: 100%;
    position: relative;
}
.inputfield-row[b-0qzkbvgpxp] {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* 라벨과 입력 필드 사이의 간격 조정 */
}


.inputfield-container .inputfield-label[b-0qzkbvgpxp]{
   /* 
    grid-area:label;
    place-self: center;*/
    display :flex;
    flex: 1;
    padding: var(--half-pd) 0 ;
    /*justify-content : flex-end;*/

    /*width : 100%;*/
    font-weight:var(--bold-wt);
    font-size: var(--normal-size);
    color : var(--main-color);
    white-space:nowrap;
}


.inputfield-container .inputfield-input[b-0qzkbvgpxp]{
    transition : all ease-in-out .2s;
    /*grid-area : input;
    place-self: center;*/
    flex:6;
    width : 100%;
    padding : var(--half-pd);
    outline: none;
    /*border: 2px solid transparent;*/
    border:none;
    border-bottom: var(--input-bd);
    background-color:transparent;
}

.inputfield-container .block[b-0qzkbvgpxp]{
    transition : all ease-in-out .2s;
    border: var(--input-block-bd);
    border-radius: var(--default-rd);
    padding: var(--default-pd);
    background-color: var(--light-color);
}

.inputfield-container .inputfield-input:focus[b-0qzkbvgpxp]{
    border-bottom: var(--default-bd);
}

.inputfield-container .btn[b-0qzkbvgpxp]{
    position : absolute;
    top:0;
    bottom:0;
    right: 0;
    height:100%;
    font-size: var(--normal-size);
    background-color: var(--main-color);
    color: var(--default-color);
    
    border: none;
    border-radius: var(--default-rd);
    padding: 0 var(--half-pd);
}

.inputfield-container .btn:hover[b-0qzkbvgpxp]{
    transition : all ease-in-out 0.2s;
    background-color: var(--main-hover);
}

