.status[b-nvn02wxs3k]{
    display:inline-block;
    padding : var(--one-q-pd) var(--half-pd);
    /*padding : .2em .6em .3em;*/
    font-size : var(--normal-size);
    font-weight : 500;
    color :var(--default-color);

    border-radius : .25em;
}

.status-0[b-nvn02wxs3k]{
    background-color: red;
}

.status-1[b-nvn02wxs3k]{
    background-color: darkgray;
}
.status-2[b-nvn02wxs3k] {
    background-color: green;
}