.buildingadd-container[b-37r0e6eic7]{
    width :100%;
    
    padding : var(--default-pd);

    display : flex;
    flex-direction : column;
    gap : var(--wide-pd);
    
}


.buildingadd-btns[b-37r0e6eic7]{
    display : flex;
    gap : var(--half-pd);
    justify-content : flex-end;
}


.buildingadd-container .buildingadd-info[b-37r0e6eic7] {
    height: 100%;
}