@using FamTec.Client.Pages.CommonComponents
@inject IJSRuntime JSRuntime

<div class="table-container">
   <div class="table-wrap">
        <div class="table-header">
            <span class="table-header-title">
                사업장 목록
            </span>
            <div class="table-header-option">
                <Input Placeholder="Research" />
                <Button Name="추가" />
            </div>
        </div>
       <div class="table-body">
           <table class="table">
                <thead class="thead">
                    <tr class="thead-tr tr">
                        @foreach(var property in Properties)
                        {
                            @if(property != "IsSelect")
                            {
                                <th class="thead-th">@property</th>
                            }else
                            {
                                <th class="thead-th">선택</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody class="tbody">
                    @foreach (var row in DataList)
                    {
                        <tr class="tbody-tr tr">
                            @foreach(var property in Properties)
                            {
                                if(property != "IsSelect")
                                {
                                    <td class="tbody-td">
                                        @row.GetType().GetProperty(property)?.GetValue(row)
                                    </td>
                                }
                                else
                                {
                                    <td class="tbody-td">
                                        <input type="checkbox" value="@row" @onchange="()=>InvokeCheckboxSelect(row)" />
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
           </table>
       </div>
   </div>
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public List<object>? DataList { get; set; }
    [Parameter] public List<string>? Properties { get; set; }
    [Parameter] public EventCallback<object> Select { get; set; }
    [Parameter] public EventCallback<object> UnSelect { get; set; }


    protected override async Task OnInitializedAsync()
    {
        return;
    }

    private void OnClicked(object row)
    {
        Console.WriteLine(row);
    }


    private async Task InvokeCheckboxSelect(object row)
    {
        try
        {
            var property = row.GetType().GetProperty("IsSelect");
            if (property != null)
            {
                bool currentValue = (bool)property.GetValue(row);
                property.SetValue(row, !currentValue);

                if ((bool)row.GetType().GetProperty("IsSelect").GetValue(row))
                {
                    Console.WriteLine("선택됨");
                    //transfer Object to Paraent
                    await Select.InvokeAsync(row);
                }
                else
                {
                    Console.WriteLine("해제됨");
                    await UnSelect.InvokeAsync(row);
                }
            }
        }catch(Exception e)
        {
            Console.WriteLine($"[table][{Title}] InvokeCheckboxSelect 함수 에러  \n" + e);
        }
        
    }
}
