.user-container {
    padding: var(--default-pd);
    min-height: 100%;
    height:100%;
    overflow:hidden;
}

.user-container .user-wrap{
    background-color : var(--default-color);
    display : flex;
    flex-direction:column;
    gap :var(--default-pd);
    padding : var(--default-pd) var(--wide-pd);
    min-height: 100%;
    height:100%;
    border : var(--comp-bd);
    border-radius : var(--default-rd);
    box-shadow : var(--shadow-1);
}
.user-options{
    display : flex;
    gap: var(--half-pd);
}
.user-container .user-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-pd) 0;
    border-bottom: var(--default-bd);
}

.user-container .title{
    white-space: nowrap;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.user-container .user-content{
    height:100%;
    max-height : 100%;
    overflow: auto;
}

.icon {
    width: 1.5rem;
}
