
.managerlist-container[b-8px6k8yis6]{
    background-color: var(--back-default-color);
    border: var(--comp-bd);
    border-radius:var(--default-rd);
    height:100%;

    overflow : hidden;
    box-shadow: var(--default-bs);
}


.managerlist-container .managerlist-wrap[b-8px6k8yis6]{
    display:flex;
    flex-direction:column;
    gap : var(--default-pd);

    height: 100%;
    padding : var(--default-pd);

}

.managerlist-container .managerlist-header[b-8px6k8yis6]{
    display :flex;
    justify-content : space-between;
    align-items:center;

    padding : var(--default-pd);
    border-bottom : var(--default-bd);

}

.managerlist-container .managerlist-btns[b-8px6k8yis6]{
    display : flex;
    gap : var(--half-pd);
    
}

.managerlist-container .title[b-8px6k8yis6] {
    white-space: nowrap;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.managerlist-container .managerlist-list[b-8px6k8yis6]{
    overflow : auto;

}