.table{
    width : 100%;
    border-collapse : separate;
    max-height : 100%;
    table-layout:fixed;
}
.table .thead {
    position: sticky;
    top: 0;
}

.table .th-tr {
    background-color: var(--main-color)
}

/*
    테이블 헤더 둥글게
*/
.table .th:first-child {
    border-radius: 4px 0 0 4px;
}

.table .th:last-child {
    border-radius: 0 4px 4px 0;
}
/* 둥글게 끝*/

.table  .th{
    text-align : center;
    
    padding : 0 var(--half-pd);
}

.table  .th > span{
    display : inline-block;

    font-size : var(--normal-size);
    font-weight : var(--bold-wt);
    color : var(--default-color);

    padding : var(--three-q-pd) var(--half-pd);
}


.table .tbody{
    overflow : auto;
}

.table .tbody-tr{
    background-color :var(--content-back-color);
}

.table .tbody-tr:hover td{
    background-color:var(--main-light);
    
}

.table .td{
    border-top: var(--three-q-pd) solid var(--default-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
    text-align :center;
    padding:0.8rem;

    font-size:0.8rem;
    font-weight:var(--bold-wt);
    color : var(--main-color);
    
}

.table .text-left{
    text-align : left;
}

.table .text-right{
    text-align : right;
}

.table .input{
    outline : none;
    padding : var(--default-pd);
    border : var(--comp-bd);
    border-radius : var(--default-rd);
    transition : all .3s;
}



.table .input:hover, .table .input:focus{
    border : var(--default-bd);
}