@page "/basic/buildings"
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Normal.Building.BuildingMain.Components
@using FamTec.Shared.Client.DTO.Normal.Buildings
@using FamTec.Shared.Server.DTO

<div class="building-container yappear">
    <div class="building-wrap">
        <div class="building-header">
            <span class="title">
                건물 목록
            </span>
            <div class="btns">
                <Button Name="추가" Width=true Type=0 OnClick="@OnMoveAdd" />
                <Button Name="삭제" Width=true Type=1 />
            </div>
        </div>
        <div class="building-contents">
            <BuildingTable ListData="@BuildingList" />
        </div>
    </div>
</div>


@code {
    List<BuildingListDTO> BuildingList;


    protected override async Task OnInitializedAsync()
    {
        await OnLoadBuilding();
    }

    private async Task OnLoadBuilding()
    {
        ResponseList<BuildingListDTO> resGet = await apiManager.GetListAsync<BuildingListDTO>("Building/sign/MyBuildings");
        if(resGet.code != 200)
        {
            await JS.InvokeVoidAsync("alert", "건물 조회 실패");
        }
        BuildingList = resGet.data;

    }


    private void OnMoveAdd()
    {
        Navigation.NavigateTo("/basic/buildings/add");
    }
}
