@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Buildings.Group
@using FamTec.Shared.Server.DTO


<div class="modal">
    <div class="header">
        <span class="title">
            그룹 추가
        </span>
    </div>
    <div class="input">
        <span>
            그룹명
        </span>
        <input type="text" placeholder="그룹명" @bind-value=@Group.Name>
    </div>
    <div class="btns">
        <Button Name="추가" Type="0" OnClick="OnAdd" />
        <Button Name="취소" Type="1" OnClick="OnCloseModal" />
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public EventCallback CloseModal { get; set; }
    [Parameter] public EventCallback LoadGroup { get; set; }
    AddGroupDTO Group = new AddGroupDTO();

    protected override Task OnInitializedAsync()
    {
        Group.BuildingIdx = Id;
        return base.OnInitializedAsync();
    }

    private async void OnAdd()
    {
        try
        {
            
            ResponseUnit<AddGroupDTO> resAdd = await apiManager.PostAsync<AddGroupDTO>("BuildingGroup/sign/AddGroup",Group);
            if(resAdd.code != 200)
            {
                await JS.InvokeVoidAsync("alert", resAdd.message);
            }
            OnCloseModal();
            LoadGroup.InvokeAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            await JS.InvokeVoidAsync("alert", "추가 실패");
        }
    }

    private void OnCloseModal()
    {
        CloseModal.InvokeAsync();
    }
}
;