@using FamTec.Client.Pages.CommonComponents


<div class="modal">
    <div class="header">
        <span class="title">
            항목 그룹 추가
        </span>
    </div>
    <div class="input">
        <span>
            그룹명
        </span>
        <input type="text" placeholder="그룹명"/>
    </div>
    <div class="btns">
        <Button Name="추가" Type="0" />
        <Button Name="닫기" Type="1" OnClick="OnCloseModal" />
    </div>
</div>

@code {
    [Parameter] public EventCallback CloseModal { get; set; }


    private void OnCloseModal()
    {
        CloseModal.InvokeAsync();
    }
}
