
<div>
    <div>
        <span>
            그룹명
        </span>
    </div>
    <div>
        <span>
            항목명
        </span>
        <input type="text" placeholder="항목명"/>
    </div>
    <div>
        <div>
            <input type="radio" name="count" />
            <label> 1개 </label>
        </div>
        <div>
            <input type="radio" name="count" />
            <label> 2개 </label>
        </div>
        <div>
            <input type="radio" name="count" />
            <label> 3개 </label>
        </div>
    </div>
    <div>

    </div>
</div>

@code {

}
