.table[b-gdv5hvnyet]{
    border-collapse: separate;
    width:100%;
    max-height : 100%;
}

.table .thead[b-gdv5hvnyet]{
    position:sticky;
    top:0;
}

.table .th-tr[b-gdv5hvnyet]{
    background-color : var(--main-color)
}

/*
    테이블 헤더 둥글게
*/
.table .th:first-child[b-gdv5hvnyet] {
    border-radius: 4px 0 0 4px;
}

.table .th:last-child[b-gdv5hvnyet] {
    border-radius: 0 4px 4px 0;
}
/* 둥글게 끝*/


.table  .th[b-gdv5hvnyet]{
    text-align : center;
    
    padding : 0 var(--half-pd);
}

.table  .th > span[b-gdv5hvnyet]{
    display : inline-block;

    font-size : var(--normal-size);
    font-weight : var(--bold-wt);
    color : var(--default-color);

    padding : var(--three-q-pd) var(--half-pd);
}


.table .tbody[b-gdv5hvnyet]{
    overflow : auto;
}

.table .tbody-tr[b-gdv5hvnyet]{
    background-color :var(--content-back-color);
}

.table .tbody-tr:hover td[b-gdv5hvnyet]{
    background-color:var(--main-light);
    
}

.table .td[b-gdv5hvnyet]{
    border-top: var(--three-q-pd) solid var(--default-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
    text-align : center;
    padding:var(--half-pd);

    font-size:0.8rem;
    font-weight:var(--bold-wt);
    color : var(--main-color);
    
}