.voc[b-ctwc34a2zh]{
    display : flex;
    flex-direction : column;
    justify-content :space-between;
    gap : var(--wide-pd);
    min-height:100%;
    height:auto;
}

.voc .header[b-ctwc34a2zh]{
    /*padding : var(--default-pd) 0;*/
}

.title[b-ctwc34a2zh]{
    font-size : var(--title-size);
    font-weight : var(--bold-wt);
    color : var(--main-color);
}


.content[b-ctwc34a2zh]{
    flex : 1;
    min-height:500px;
    height:100%;
    display : flex;
    flex-direction :column;
    gap:var(--default-pd);
    /*overflow : auto;*/
}

.checkitem[b-ctwc34a2zh]{
    height:250px;
}

.btns[b-ctwc34a2zh] {
    display: flex;
    gap: var(--default-pd);
}

.blockbtn[b-ctwc34a2zh]{
    cursor : not-allowed;
    width : 100%;
    border : none;
    outline : none;
    border-radius : var(--default-rd);
    padding : var(--half-pd);
    font-size : var(--normal-size);
    font-weight:var(--bold-wt);
    color : darkgray;
    height:100%;
    white-space:nowrap;
}

.row[b-ctwc34a2zh] {
    display :flex;
    gap : var(--default-pd);
    height:100%;
}

.flex3[b-ctwc34a2zh]{
    flex:4;
}

.flex1[b-ctwc34a2zh] {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--half-pd);
}

.text[b-ctwc34a2zh]{
    font-size:var(--normal-size);
    color : var(--main-color);
}

.none[b-ctwc34a2zh]{
    opacity:0
}