.icon[b-vzeqm10g4d]{
    display:flex;
    align-items:center;

    height:100%;
}

.icon:hover[b-vzeqm10g4d]{
    cursor : pointer;

}


.icon:hover > svg[b-vzeqm10g4d]{
    fill: var(--main-color);
}

svg[b-vzeqm10g4d] {
    transition: all .2s;
}