.toggle-container[b-4ab9o16rob] {
    display : inline-flex;
    align-items :center;
    gap : var(--half-pd);
    cursor : pointer;
    white-space:nowrap;
}

[type="checkbox"][b-4ab9o16rob]{
    appearance:none;
    position:relative;
    border : max(2px, 0.1em) solid gray;
    border-radius: 1.25rem;
    width : 2.25em;
    height : 1.25em;
}
[type="checkbox"][b-4ab9o16rob]::before{
    content:"";
    position:absolute;
    left:0;
    width : 1em;
    height: 1em;
    border-radius:50%;
    transform: scale(0.8);
    background-color:gray;
    transition:left 250ms linear;
    
}

[type="checkbox"]:checked[b-4ab9o16rob] {
  background-color:var(--main-color);
  border-color : var(--main-color);
}

[type="checkbox"]:checked[b-4ab9o16rob]::before {
  background-color: var(--default-color);
  left:1em;
}

[type="checkbox"]:disabled[b-4ab9o16rob] {
  border-color: lightgray;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="checkbox"]:disabled[b-4ab9o16rob]:before {
  background-color: var(--main-light);
}

[type="checkbox"]:enabled:hover[b-4ab9o16rob] {
  box-shadow: 0 0 0 max(4px, 0.2em) var(--main-light);
}

[type="checkbox"]:disabled + .toggle-title[b-4ab9o16rob] {
  opacity: 0.5;
  cursor: not-allowed;
}

.toggle-container span[b-4ab9o16rob] {
    font-size : var(--normal-size);
    font-weight : var(--bold-wt);
    color : var(--main-color);
}
