.mac-btn[b-cqwu0etok9] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
   
    font-size : 0.7rem;
}

.mac-btn:hover[b-cqwu0etok9] {
    background: linear-gradient(#4faefc, #006bff);
}
