
.btn {
    height: 100%;
    padding: var(--half-pd) var(--default-pd);
    border: none;
    border-radius: var(--default-rd);
    font-size: var(--normal-size);
    /*border: var(--default-bd);*/
}

.default {
    color: var(--default-color);
    font-weight : var(--bold-wt);
    background-color: var(--main-color);
}

.default:hover {
    transition : all ease-in-out 0.2s;
    background-color: var(--main-hover);
}

.type2 {
    color: var(--default-color);
    font-weight: var(--bold-wt);
    background-color: var(--del-color);
}

.type2:hover{
    transition : all ease-in-out 0.2s;
    background-color : var(--del-hover);
}

.width{
    width: 100%;
}