@page "/material/inventory"
@using FamTec.Client.Pages.Normal.Material.Inventory.Components
@using FamTec.Shared.Client.DTO.Normal.Location.Inventory


<div class="inventory">
    <SearchFilter MaterialHistory=@MaterialHistory OnMaterialHistoryUpdated="@UpdateMaterialHistory" />
    <MaterialHistory ListData="@MaterialHistory" />
</div>

@code {
    List<MaterialHistoryDTO> MaterialHistory = new List<MaterialHistoryDTO>();


    private void UpdateMaterialHistory(List<MaterialHistoryDTO> updatedHistory)
    {
       
        MaterialHistory = updatedHistory;
        StateHasChanged();
    }
}
