
<div class="textfield @(Row == true ? "row" : "") @(Type == "textarea" ? "height" : "")">
    <label class="label">
        @Label
    </label>
    <div class="content">
        <p class="text @(Type == "textarea" ? "height" : "")">
            @Context
        </p>
    </div>
</div>

@code{
    [Parameter] public string? Label {get; set;}
    [Parameter] public string? Context { get; set; }
    [Parameter] public string? Type { get; set; }
    [Parameter] public bool? Row { get; set; }
    [Parameter] public bool? EditMode { get; set; } = false;
}

