@using FamTec.Client.Pages.CommonComponents


<div class="voccomment-container">
    <div class="voccomment-title">
        <span class="title">
            처리 내역
        </span>
        <div class="option">
            @if (AddComment)
            {
                <Button Name="저장" Width=true  Type=0/>
                <Button Name="취소" Width=true Type=1 OnClick="@OnAddComment" />
            }
            else
            {
                <Button Name="추가" Width=true Type=0 OnClick="@OnAddComment" />
            }
        </div>
    </div>
    <div class="voccomment-content">
        <div class="voccomment-overflow">
            @if(AddComment)
            {
                <div class="yappear">
                    <ProcessCard  />
                </div>
                
            }
            <ProcessCard Status="0" />
            <ProcessCard Status="1" />
            <ProcessCard Status="1" />
            
        </div>
    </div>
</div>

@code {
    [Parameter] public bool EditMode { get; set; } = false;
    bool AddComment = false;
   

    private void OnChangeEditMode()
    {
        EditMode = !EditMode;
    }

    private void OnAddComment()
    {
        AddComment = !AddComment;
    }
}
