.table-container[b-mj93a9brp6] {
    width: 100%;
    /*border:2px solid #200d69;
    border-radius : 4px;*/
}

.table-container .table[b-mj93a9brp6]{
    table-layout:auto;
    width:100%;
    padding : 0.8rem;

}

.table-container .thead[b-mj93a9brp6]{
    position: sticky;
    top:0;

    width:auto;
    /*box-shadow: 0 0px 20px #a1a1a1, 0 0px 20px #a1a1a1;*/
    box-shadow: 0 8px 12px -2px #a1a1a1;
}
.table-container .thead-tr[b-mj93a9brp6]{
    background-color:#200d69;
    border-radius: 4px;
}

.table-container .thead-th[b-mj93a9brp6]{
    color:#ffffff;
    padding:0.8rem;
    font-size:0.8rem;
    font-weight:bold;
    white-space:nowrap;
}
/*
    테이블 헤더 둥글게
*/
.table-container .thead-th:first-child[b-mj93a9brp6] {
    border-radius : 4px 0 0 4px;
}

.table-container .thead-th:last-child[b-mj93a9brp6] {
    border-radius: 0 4px 4px 0;
}

.table-container .tbody[b-mj93a9brp6]{
    overflow:auto;
    
}

.table-container .tbody-tr[b-mj93a9brp6]{
    border-bottom : 1px solid #200d694a;
}

/*.table-container .tbody-tr:nth-last-of-type(n+2){
    border-bottom : 2px solid #200d694a;
}*/
.table-container .tbody-tr[b-mj93a9brp6]{
    
}

.table-container .tbody-tr:hover td[b-mj93a9brp6]{
    background-color:#f0edfe;
    
}

.table-container .tbody-td[b-mj93a9brp6]{
    text-overflow: ellipsis;
    /*overflow:hidden;*/
    white-space: nowrap;
    word-break:break-all;

    padding:0.8rem;

    
    text-align: center;
    font-size:0.8rem;
    font-weight:bold;
    color : #200d69;
}
