@page "/basic/buildings/add"
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Normal.Building.BulidingAdd.Components
@using FamTec.Shared.Client.DTO.Normal.Buildings
@using System.Reflection
@using FamTec.Shared.Server.DTO

<div class="buildingadd-container yappear">
    <div class="buildingadd-info">
        <CascadingValue Value="@Building">
            @* <BuildingInfo Building=Building /> *@
            <ChildContent>
                <BuildingInfo />
            </ChildContent>
        </CascadingValue>
        
    </div>
    <div class="buildingadd-item">
    </div>
    <div class="buildingadd-btns">
        <Button Name="등록" Width=true Type=0 OnClick="@OnAdd" />
        <Button Name="취소" Width=true Type=1  />
    </div>
</div>

@code {
    BuildingDTO Building;
    List<string> BuildingProperties;

    protected override Task OnInitializedAsync()
    {
        Building = new BuildingDTO();
        return base.OnInitializedAsync();
    }

    private async void OnAdd()
    {
        ResponseUnit<bool> ResAdd = await apiManager.PostAsync<bool>("/building/sign/addbuilding", Building);
    }

}
