
.container{
    padding : var(--default-pd);
    display:flex;
    flex-direction : column;
    gap : var(--default-pd);
}
.container:first-child {
    margin-bottom: var(--custom-gap);
}
.group {
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    display : flex;
    flex-direction : column;
    gap: var(--wide-pd);
}

.sub-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
    
    background-color: var(--content-back-color);
    border-radius: var(--default-rd);
    transition: all .3s;
    box-shadow : var(--shadow-1);
   margin-bottom : var(--default-pd);
}


.sub-btn:hover{
    /*color: var(--main-color);*/
    cursor:pointer;
    background-color: var(--default-color);
}