@page "/settings"
@using FamTec.Client.Pages.Normal.Voc.VocMain.Components


<div>
    <div class="box">
        <span>
            건물
        </span>
    </div>
    <div class="box">
        <span>
            설비
        </span> 
    </div>
    <div class="box">
        <span>
            품목
        </span>
    </div>
    <div class="box">
        <span>
            사용자
        </span>
    </div>
    <InputDuration/>
</div>

@code {

}
