
.inform[b-0nt1p2e7un]{
    display : flex;
    flex-direction : column;
    gap : var(--default-pd);
    
    width : 100%;
    /*height : 100%;*/
    padding : var(--default-pd) var(--wide-pd);

    border : var(--comp-bd);
    border-radius : var(--default-rd);
    box-shadow:var(--shadow-1);
    background-color : var(--default-color);
}

.header[b-0nt1p2e7un]{
    display : flex;
    padding : var(--default-pd);

    justify-content : space-between;
    border-bottom : var(--default-bd);
}

.title[b-0nt1p2e7un] {
    display: flex;
    align-items: center;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.content[b-0nt1p2e7un]{
    display : grid;
    grid-template-columns : repeat(4, 1fr);

    gap : var(--wide-pd);
}