@layout MainLayout2
@page "/m/voc/banner/{PlaceId:int}/{BuildingId:int}"


@using FamTec.Client.Pages.Voc.Main.Components

<div class="main">
    <div class="header yappear">
        <span class="title">
            Sworks 민원
        </span>
    </div>
    <div class="content yappear">
        <SelectInput Label="접수번호" Placeholder="접수번호"/>
        <BannerBtn 
            Label="민원 접수"
            Url="@($"/voc/add/{PlaceId}/{BuildingId}")"
            />
    </div>
</div>


@code {
    //아래는 연결후 커넥트
    [Parameter] public int PlaceId { get; set; }
    [Parameter] public int BuildingId { get; set; }
}
