.placetoggle-container[b-t4nzhfuhky] {
    display: flex;
    flex-direction: column;
    gap: var(--default-pd);
    border: var(--comp-bd);
    border-radius: var(--default-rd);
    background-color: var(--default-color);
    padding: var(--default-pd) var(--wide-pd);
    box-shadow: var(--shadow-1);
}


.placetoggle-container .placetoggle-title[b-t4nzhfuhky]{
    font-size:var(--title-size);
    font-weight:var(--bold-wt);
    padding: var(--default-pd) 0;
    border-bottom: var(--default-bd);
}
.placetoggle-container .placetoggle-title>span[b-t4nzhfuhky]{
    display: flex;
    align-items: center;
    height: 35px;
    color: var(--main-color);
}

.placetoggle-container .placetoggle-toggle[b-t4nzhfuhky]{
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--default-pd);
    padding: var(--default-pd);
    grid-auto-flow: row;

}