.group{
    display :flex;
    flex-direction : column;

    padding : var(--default-pd);


    border : var(--comp-bd);
    border-radius:var(--default-rd);
    background-color : var(--default-color);

    box-shadow:var(--shadow-1);
    position : relative;
}

.header {
    display:flex;
    justify-content : space-between;
    align-items :center;
    padding: var(--default-pd);
    border-bottom: var(--default-bd);
}
.title {
    display: flex;
    align-items: center;
    gap: var(--half-pd);
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.content {
    padding: var(--default-pd);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: var(--wide-pd);
}

.add-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color :var(--main-color);
    font-size: 1.5rem;
    font-weight:bold;
    border : dashed 1px var(--main-color);
    border-radius : var(--default-rd);
    transition : all .2s;
}

.add-item:hover{
    cursor:pointer;
    /*background-color:var(--content-back-color);*/
    /*color:var(--default-color);*/
    border : solid 1px var(--main-color);
    box-shadow:var(--shadow-1);
}


.del-group{
    position : absolute;
    top : -5%;
    right : -1%;
    border : none;
    padding : var(--one-q-pd) var(--half-pd);
    border-radius : var(--default-rd);
    color:var(--default-color);
    font-size : var(--explain-size);
    font-weight : var(--bold-wt);
    box-shadow : 0 2px 12px lightgray;
    background-color :var(--del-color);
    
}

.options{
    display :flex;
    gap : var(--half-pd);
}