@using FamTec.Client.Pages.CommonComponents


<div class="groupfield @(EditMode ? "edit" : "")">
    <div class="groupfield-title">
        <span class="title">
            @Title
        </span>
        <span class="unit">
            @Unit
        </span>
    </div>
    
    <div class="groupfield-item">
        <InputFieldSmall Label="@Sub1" EditMode=EditMode @bind-Value=Data1 />
        <InputFieldSmall Label="@Sub2" EditMode=EditMode @bind-Value=Data2 />
        <InputFieldSmall Label="@Sub3" EditMode=EditMode @bind-Value=Data3 />
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Sub1 { get; set; }
    [Parameter] public string Sub2 { get; set; }
    [Parameter] public string Sub3 { get; set; }
    [Parameter] public bool EditMode { get; set; }
    [Parameter] public string Unit { get; set; }
    private string data1;
    [Parameter]
    public string Data1
    {
        get => data1;
        set
        {
            if (data1 != value)
            {
                data1 = value;
                Data1Changed.InvokeAsync(value);
            }
        }
    }

    [Parameter] public EventCallback<string> Data1Changed { get; set; }

    private string data2;
    [Parameter]
    public string Data2
    {
        get => data2;
        set
        {
            if (data2 != value)
            {
                data2 = value;
                Data2Changed.InvokeAsync(value);
            }
        }
    }

    [Parameter] public EventCallback<string> Data2Changed { get; set; }

    private string data3;
    [Parameter]
    public string Data3
    {
        get => data3;
        set
        {
            if (data3 != value)
            {
                data3 = value;
                Data3Changed.InvokeAsync(value);
            }
        }
    }
    [Parameter] public EventCallback<string> Data3Changed { get; set; }

   

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }


}
