@inherits PermissionComponentBase
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Buildings.Group
@using FamTec.Client.Pages.Normal.Building.BuildingDetail.Modal
@using FamTec.Shared.Server.DTO



<div class="group yappear">
    <div class="header">
        <span class="title">
            @GroupData.Name
        </span>
        @if (USEREDIT)
        {
            <div class="options">

                @if (EditMode)
                {
                    <Button Name="등록" Width=true Type="0" OnClick="OnModal" />
                    <Button Name="삭제" Width=true Type="1" OnClick="()=>OnDelGroup(GroupData.id)" />
                    <Button Name="취소" Width=true Type="2" OnClick="OnEditMode" />
                }
                else
                {
                    <Button Name="수정" Width=true Type="0" OnClick="OnEditMode" />
                }
            </div>
        }
        
    </div>
    <div class="content">
        @foreach(var item in GroupData.keyListDTO)
        {
            <SubItem item="item" EditMode=EditMode OnLoad="LoadGroup" />
        }
    </div>
    @if (IsModal)
    {
        <ModalBackground>
            <ChildComponent>
                <SubItemModal OnClose="OnModal" GroupId="@GroupData.id" LoadGroup="LoadGroup" />
            </ChildComponent>
        </ModalBackground>
    }
    @* <button class="del-group">삭제</button> *@
</div>

@code {
    [Parameter] public GroupDTO? GroupData { get; set; }
    // [Parameter] public bool EditMode { get; set; } = false;
    [Parameter] public EventCallback LoadGroup { get; set; }
    bool IsModal = false;
    bool EditMode = false;

    protected override async Task OnInitializedAsync()
    {
        //권한
        await base.OnInitializedAsync();
    }

    //그룹삭제
    private async Task OnDelGroup(int groupid)
    {
        try
        {
            ResponseUnit<bool> resDel = await apiManager.PostAsync<bool>("BuildingGroup/sign/DeleteGroup",groupid);
            if(resDel.code != 200)
            {
                await JS.InvokeVoidAsync("alert", resDel.message);
                return;
            }
            await LoadGroup.InvokeAsync();
        }catch(Exception ex)
        {
            await JS.InvokeVoidAsync("alert", "[건물][그룹] 삭제 에러!");
        }
    }


    private void OnModal()
    {
        IsModal = !IsModal;
    }

    private void OnEditMode()
    {
        EditMode = !EditMode;
    }
}
