@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO.Normal.Buildings.Group


<div class="item-container">
    <div class="item-wrap">
        @if (EditMode)
        {
            <input type="checkbox" />
        }
        <label class="item-label">
            @item.ItemKey
        </label>
        <div class="item-values">
            @foreach (var i in item.valueList)
            {
                <span class="value">
                    @i.itemValue
                </span>
            }
        </div>
    </div>
    
</div>

@code {
    [Parameter] public ItemDTO item { get; set; }
    [Parameter] public bool EditMode { get; set; } = false;
}
