
.check{
    display:flex;
    flex-direction :column;
    gap : var(--half-pd);
    height : 100%;
}

.header{
    display : flex;
    gap : var(--default-pd);
}

.title{
    font-size : var(--normal-size);
    font-weight : var(--bold-wt);
    color : var(--main-color);
}

.content{

    border : var(--comp-bd);
    border-radius : var(--default-rd);
    padding : var(--default-pd);

    background-color : var(--default-color);
    font-size : var(--normal-size);
    overflow : auto;
    
}

.item{
    display:flex;
    flex-direction : column;
    gap : var(--half-pd);
}

.text{
}

.subtext{
    display:block;
    text-indent : 2rem;
    font-weight:bold;
    color : #8f8f8f;
}