.inputfield{
    display :flex;
    flex-direction : column;
    gap : var(--half-pd);
    transition : all .3s;
}

.label{
    font-size : var(--normal-size);
    /*font-weight : var(--bold-wt);*/
    color : darkgray;
}

.input{
    outline : none;
    border :none;
    border-bottom : var(--comp-bd);

    padding :var(--default-pd);
    background-color :transparent;
    

    transition : all .3s;

    font-size : var(--normal-size);
}
.height{
    flex : 1;
    display : flex;
    flex-direction:column;
}

.textarea {
    flex: 1; /* 추가 */
    min-height: 50%; /* 변경 */
    max-height: 100%; /* 추가 */
    border :none;
    outline :none;

    border: var(--comp-bd);
    border-radius : var(--default-rd);

    padding :var(--default-pd);
    background-color :transparent;
    

    transition : all .3s;

    resize: none;
    overflow-y : auto;
}

.textarea:focus{
    border : var(--default-bd);
    background-color :var(--content-back-color);
}

.input:focus {
    border-radius: var(--default-rd) var(--default-rd) 0 0; 
    border-bottom: var(--default-bd);
    background-color: var(--content-back-color);
}

.inputfield:focus-within .label {
    color: var(--main-color);
}

