
.timeline[b-dyg46wmdyc] {
    position: absolute;
    top: 200%;
    right: -200px;
    display: flex;
    flex-direction: column;
    /*gap:var(--default-pd);*/
    justify-content: space-between;

    border: var(--comp-bd);
    border-radius: var(--default-rd);
    padding: var(--default-pd) 0;
    background-color: var(--default-color);
    width: 300px; /* Changed from 2000% to a more reasonable fixed width */
    
    max-height:400px;
    min-height:250px;
    box-shadow: var(--shadow-1);
    overflow: hidden;
    z-index : 90;
}

.header[b-dyg46wmdyc] {
    padding: 0 var(--default-pd);
    border-bottom: 1px solid var(--mainr-color);
}

.content[b-dyg46wmdyc] {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--default-pd);
    padding: var(--half-pd) var(--default-pd);
    margin: var(--default-pd) 0;
    overflow: auto;
    /*min-height: 200px;*/
    height: 100%;
}

.btn[b-dyg46wmdyc]{
    outline :none;
    border :none;

    padding : var(--one-q-pd);
    font-size : 0.7rem;
    
    transition : all .3s;
    background-color : var(--content-back-color);
    margin: 0 var(--default-pd);
}

.btn:hover[b-dyg46wmdyc]{
    background-color : var(--main-light);
}