@* @inject IJSRuntime JS *@


<div class="dateslider-container">
    <div class="dateslider-btn" @onclick = "@OnBeforeDate">
        &lt;
    </div>
    <div class="dateslider-display">
        <span class="year">@DisplayYear.</span>
        <span class="month">@DisplayMonth.ToString("00")</span>
    </div>
    <div class="dateslider-btn" @onclick="@OnAfterDate">
        <span class="arrowR">&gt;</span>
    </div>
</div>

@code {
    [Parameter] public DateTime CreateDate { get; set; }
    [Parameter] public EventCallback<DateOnly> OnChanged { get; set; }

    private DateTime CurrentDate = DateTime.Now;
    private string currentDate;
    private string createDate;

    private int DisplayYear;
    private int DisplayMonth;
    private string DisplayDate;
    private DateTime dateOnly;


    protected override void OnInitialized()
    {
        InitializeDates();
    }

    protected override void OnParametersSet()
    {
        createDate = CreateDate.ToString("yyyyMM");
    }

    private void InitializeDates()
    {
        currentDate = CurrentDate.ToString("yyyyMM");
        
        DisplayYear = CurrentDate.Year;
        DisplayMonth = CurrentDate.Month;
    }

    private void OnUpdateDisplayDate()
    {

        OnChanged.InvokeAsync(new DateOnly(DisplayYear,DisplayMonth, 1));
        StateHasChanged();
    }

    private void OnBeforeDate()
    {
        if (int.Parse($"{DisplayYear}{DisplayMonth:00}") > int.Parse(createDate))
        {
            if (DisplayMonth == 1)
            {
                DisplayMonth = 12;
                DisplayYear--;
            }
            else
            {
                DisplayMonth--;
            }

            OnUpdateDisplayDate();
        }
        else
        {
            JS.InvokeVoidAsync("alert", "이전 내용이 존재하지 않습니다.");
        }
    }

    private void OnAfterDate()
    {
        if (int.Parse($"{DisplayYear}{DisplayMonth:00}") < int.Parse(currentDate))
        {
            if (DisplayMonth == 12)
            {
                DisplayMonth = 1;
                DisplayYear++;
            }
            else
            {
                DisplayMonth++;
            }

            OnUpdateDisplayDate();
        }
        else
        {
            JS.InvokeVoidAsync("alert", "이후 내용이 존재하지 않습니다.");
        }
    }
}
