
.pagenation{
    display :flex;
    gap : var(--default-pd);
    align-items :center;
}

.page-wrap{
    display : flex;
    gap : var(--half-pd);
}

.page{
    font-size : var(--normal-size);
    color : var(--main-color);

    border : var(--comp-bd);
    padding :var(--one-q-pd) var(--half-pd);
    transition : all .3s ;
}

.page:hover {
    background-color : var(--main-color);
    color : var(--default-color);
    cursor :pointer;
}

.move:hover {
    cursor: pointer;
}

.active{
    background-color :var(--main-color);
    color:white;
}