@using FamTec.Shared.Client.DTO.Normal.Voc
<div class="vochistory-container">
    <div class="vochistory-wrap">
        <div class="vochistory-title">
            <span class="title">
                민원 내역
            </span>
        </div>
        <div class="vochistory-slider">
            <DateSlider CreateDate="createdate" />
        </div>
        <div class="vochistory-content">
            <VocTable ListData=@ListData />
        </div>
    </div>
</div>

@code {
    [Parameter] public List<ListVocDTO> ListData { get; set; }
    public DateTime createdate = new DateTime(2023, 11, 4, 12, 0, 0, 0, 0);
    List<ListVocDTO> listvoc = new List<ListVocDTO>();

    protected async override Task OnInitializedAsync()
    {
        await OnLoadVocList();
    }

    private async Task OnLoadVocList()
    {
        // listvoc = new List<ListVocDTO>
        // {
        //     new ListVocDTO
        //     {
        //         Id =1,
        //         Location = "A건물",
        //         Type = 1,
        //         Writer = "김권후",
        //         Title = "3층 화장실 타일",
        //         Status = 0,
        //         Occur_DT = new DateTime(2024,5,11),
        //     },
        //     new ListVocDTO
        //     {
        //         Id =2,
        //         Location = "A건물",
        //         Type = 1,
        //         Writer = "김권후",
        //         Title = "3층 화장실 타일",
        //         Status = 0,
        //         Occur_DT = new DateTime(2024,5,11),
        //     },
        //     new ListVocDTO
        //     {
        //         Id =3,
        //         Location = "A건물",
        //         Type = 1,
        //         Writer = "김권후",
        //         Title = "3층 화장실 타일",
        //         Status = 1,
        //         Occur_DT = new DateTime(2024,5,11),
        //     },
        //     new ListVocDTO
        //     {
        //         Id =4,
        //         Location = "A건물",
        //         Type = 1,
        //         Writer = "김권후",
        //         Title = "3층 화장실 타일",
        //         Status = 2,
        //         Occur_DT = new DateTime(2024,5,11),
        //     },
        //     new ListVocDTO
        //     {
        //         Id =5,
        //         Location = "A건물",
        //         Type = 1,
        //         Writer = "김권후",
        //         Title = "3층 화장실 타일",
        //         Status = 1,
        //         Occur_DT = new DateTime(2024,5,11),
        //     },
        //     new ListVocDTO
        //     {
        //         Id =6,
        //         Location = "A건물",
        //         Type = 1,
        //         Writer = "김권후",
        //         Title = "3층 화장실 타일",
        //         Status = 0,
        //         Occur_DT = new DateTime(2024,5,11),
        //     },
        //     new ListVocDTO
        //     {
        //         Id =7,
        //         Location = "A건물",
        //         Type = 1,
        //         Writer = "김권후",
        //         Title = "3층 화장실 타일",
        //         Status = 0,
        //         Occur_DT = new DateTime(2024,5,11),
        //     },
        // };
    }


}
