.icon[b-0c4k1js49m]{
    display:flex;
    align-items:center;

    height:100%;
}

.icon:hover[b-0c4k1js49m]{
    cursor : pointer;

}


/*.icon:hover > svg{
    fill: var(--main-color);
}*/

svg[b-0c4k1js49m] {
    transition: all .2s;
    
}