.banner[b-sdw1dk55vx] {
    position: relative;
    max-width: 50%;
    /*border: var(--default-bd);*/
    border-radius: var(--default-rd) var(--default-rd) 60px var(--default-rd);
    padding: var(--half-pd) var(--wide-pd);
    box-shadow: var(--shadow-1);
    transition: all .3s;
    background-color: var(--main-color);
    
}

.banner[b-sdw1dk55vx]::after{
    content: '';
    width: 30%;
    height: inherit;
    position: absolute;
    outline:none;
    border:none;
    z-index: 0;
    top: 0;
    bottom : 0;
    right : 0%;
    background: var(--main-color);
    border-radius: var(--default-rd);
    transform: skewX(-40deg);
    background-color : var(--main-color);
    transition: all .3s;
}

.banner:hover[b-sdw1dk55vx], .banner:hover[b-sdw1dk55vx]:after{
    background-color : var(--main-hover);
}

.title[b-sdw1dk55vx]{
    font-size : var(--normal-size);
    font-weight : var(--bold-wt);
    color : var(--default-color);
    z-index : 3;
}
