

.main[b-vo74q2bouq] {
    margin : auto 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    /*align-items:center;*/
    gap: var(--wide-pd);
    height: 100%;
}

.title[b-vo74q2bouq]{
    font-size : calc(var(--title-size));
    font-weight : bolder;
    color : var(--main-color);
}

.content[b-vo74q2bouq]{
    width:100%;
    display : flex;
    flex-direction :column;
    gap : var(--wide-pd);
}