@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Admin.Manager.ManagerSignup.Modal
@using FamTec.Shared.Client.DTO
﻿
@using FamTec.Shared.Client.DTO.Place
@using FamTec.Shared.Server
@using FamTec.Shared.Server.DTO

@inject HttpClient HttpClient

<div class="placetable-container">
    <div class="placetable-title">
        <span class="title">
            사업장 목록
        </span>
        <div class="place-table-option">
            <Input Placeholder="search" ValueChanged="OnSearchTextChanged" />
            <Button Name="추가" Width=true OnClick="OnOpenModal" Type=0 />
            <Button Name="삭제" Width=true Type=1/>
        </div>
    </div>
    <div class="placetable-table">
        <Table DataList="FilterPlaceList" Select="OnSelected"/>
    </div>
    <div class="placetable-count">
        <span>
            선택 : @SelectCount
        </span>
    </div>
    @if (isOpen == true)
        {
            <ModalBackground >
                <ChildComponent>
                    <PlaceModal OnClose="OnCloseModal" />
                </ChildComponent>
            </ModalBackground>
        }
</div>

@code {
    [Parameter] public AddManagerPlaceDTO NewManagerPlace { get; set; }
    List<PlaceTableDTO> PlaceList;
    int SelectCount = 0;
    bool isOpen = false;

    //검색 변수
    List<PlaceTableDTO> FilterPlaceList = new List<PlaceTableDTO>();
    string searchText = string.Empty;


    protected async override Task OnInitializedAsync()
    {
        ResponseList<PlaceTableDTO> res = await HttpClient.GetFromJsonAsync<ResponseList<PlaceTableDTO>>("http://123.2.156.148:5245/api/AdminPlace/GetAllWorksList");

        PlaceList = res.data;
        PlaceList.RemoveAll(place => place.Status == 0);
        FilterPlaceList = PlaceList;
    }

    /*
    * 사업장 조회
    */
    private async Task LoadPlaces()
    {

    }


    /*
    * 부서 선택
    */
    public void OnSelected((bool isCheck, int id) selection)
    {
        if (NewManagerPlace == null)
        {
            Console.WriteLine("dd");
        }
        Console.WriteLine("부서 체크 여부" + selection.isCheck);
        if (!selection.isCheck)
        {
            NewManagerPlace.PlaceList.Remove(selection.id);
            SelectCount--;
        }
        else
        {
            Console.WriteLine("추가함");
            NewManagerPlace.PlaceList.Add(selection.id);
            SelectCount++;
        }

    }

      /*
     * 검색 데이터 필터링
    */
    private void OnSearchTextChanged(string text)
    {
        // searchText = e.Value.ToString();
        searchText = text;
        FilterPlaceList = string.IsNullOrEmpty(searchText)
            ? PlaceList
            : PlaceList.Where(p => p.Name.Contains(searchText, StringComparison.OrdinalIgnoreCase) ||
                                   p.PlaceCd.Contains(searchText, StringComparison.OrdinalIgnoreCase) ||
                                   p.ContractNum.Contains(searchText, StringComparison.OrdinalIgnoreCase))
                        .ToList();
    }

    /*
    * 사업장 추가 모달
    */
    private void OnOpenModal()
    {
        isOpen = true;
    }

    private void OnCloseModal()
    {
        isOpen = false;
        StateHasChanged();
    }

}
