@using FamTec.Shared.Client.DTO.Normal.Location.Inventory


<div class="history">
    <div class="header">
        <span class="title">
            품목별 재고현황
        </span>
    </div>
    <div class="content">
        <MaterialTable ListData="@ListData"/>
    </div>
</div>

@code {
    [Parameter] public List<MaterialHistoryDTO> ListData { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine("히스토리 컴포넌트 : " +ListData.Count);
        StateHasChanged();
    }
}
