.table[b-jnork00id9]{
    width : 100%;
    border-collapse : separate;
    /*height:100%;*/

    table-layout:auto;
}
.table .thead[b-jnork00id9] {
    position: sticky;
    top: 0;
}

.table .th-tr[b-jnork00id9] {
    background-color: var(--main-color)
}

/*
    테이블 헤더 둥글게
*/
.table .th:first-child[b-jnork00id9] {
    border-radius: 4px 0 0 4px;
}

.table .th:last-child[b-jnork00id9] {
    border-radius: 0 4px 4px 0;
}
/* 둥글게 끝*/

.table  .th[b-jnork00id9]{
    text-align : center;
    
    padding : 0 var(--half-pd);
}

.table  .th > span[b-jnork00id9]{
    display : inline-block;

    font-size : var(--normal-size);
    font-weight : var(--bold-wt);
    color : var(--default-color);

    padding : var(--three-q-pd) var(--half-pd);
}


.table .tbody[b-jnork00id9]{
    overflow : auto;
}

.table .tbody-tr[b-jnork00id9]{
    background-color :var(--content-back-color);
}

.table .tbody-tr:hover td[b-jnork00id9]{
    background-color:var(--main-light);
    
}

.table .td[b-jnork00id9]{
    border-top: var(--three-q-pd) solid var(--default-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
    text-align :center;
    padding:0.8rem;

    font-size:0.8rem;
    font-weight:var(--bold-wt);
    color : var(--main-color);
}

.table .text-left[b-jnork00id9]{
    text-align : left;
}

.table .text-right[b-jnork00id9]{
    text-align : right;
}

.table .input[b-jnork00id9]{
    outline : none;
    padding : var(--default-pd);
    border : var(--comp-bd);
    border-radius : var(--default-rd);
    transition : all .3s;
}



.table .input:hover[b-jnork00id9], .table .input:focus[b-jnork00id9]{
    border : var(--default-bd);
}


.tbody-tr .td input:hover[b-jnork00id9] {
    cursor: pointer;
}