.unit[b-lw769fv04r]{
    flex:2;
    width : 100%;
    height : 100%;

    border : var(--comp-bd);
    border-radius : var(--default-rd);
    overflow:hidden;
    background-color : var(--default-color);
    box-shadow:var(--shadow-1);
    padding : var(--default-pd) var(--wide-pd);
}

.unit .unit-wrap[b-lw769fv04r]{
    display : flex;
    flex-direction : column;
    gap : var(--default-pd);
    
    width : 100%;
    height : 100%;

}

.unit .unit-header[b-lw769fv04r] {
    display: flex;
    padding: var(--default-pd) 0;
    justify-content: space-between;
    border-bottom: var(--default-bd);
}

.unit .title[b-lw769fv04r] {
    display: flex;
    align-items: center;
    font-size: var(--title-size);
    font-weight: var(--bold-wt );
    color: var(--main-color);
}

.unit .contents[b-lw769fv04r] {
    display : flex;
    gap : var(--default-pd);
    overflow : hidden;
    height: 100%;
}
.table-section[b-lw769fv04r] {
    width: 100%;
    overflow: auto;
}