.modaldepart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: var(--default-rd);
    border: var(--comp-bd);
    gap: var(--default-pd);
    box-shadow: var(--default-bs);


}

.modaldepart-container .modaldepart-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--default-pd);
    width: auto;
/*    height:100%;*/
    padding: var(--default-pd);
    border-radius: var(--default-rd);
    background-color: var(--back-default-color);


}

.modaldepart-container .modaldepart-title>span{
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.modaldepart-container .modaldepart-body{
    display : flex;
    flex-direction : column;
    gap : var(--default-pd);

}

.modaldepart-container .modaldepart-list {
    border: var(--default-bd);
    border-radius: var(--default-rd);
    padding: var(--half-pd);

    height : 400px;
    overflow:auto;
}

.modaldepart-container .modaldepart-btns{
    display:flex;
    gap : var(--half-pd);
}


.modaldepart-container .modaldepart-add{
    display : flex;
    flex-direction : column;

    gap : var(--half-pd);

    font-size : var(--title-size);
    font-weight : var(--bold-wt);
    
}

.modaldepart-container .modaldepart-add>span{
    color : var(--main-color);
}

.modaldepart-container .modaldepart-input{
    display:flex;
    gap : var(--half-pd);
}