@using FamTec.Client.Pages.CommonComponents


<div class="modal">
    <div class="header">
        <span>
            층 등록
        </span>
    </div>
    <div class="content">

    </div>
    <div class="btns">
        <Button Name="등록" Type="0"/>
        <Button Name="닫기" Type="1" OnClick="OnClosed" />
    </div>
</div>

@code {
    [Parameter] public EventCallback OnClose{ get; set; }

    private async void OnClosed()
    {
        await OnClose.InvokeAsync();
    }
}
