.admin-signup-container{
    display : flex;
    flex-direction : column;
    width : 100%;
    

    gap : var(--default-pd);
}


.admin-signup-container .admin-signup-wrap {
    display: flex;
    flex-direction : column;
    gap: var(--wide-pd);
    height: 100%;
    flex: 1;
    /*overflow: hidden;*/
    padding : var(--default-pd);
}


.admin-signup-container .btns{
    display :flex;
    justify-content:flex-end;
    gap : 0.5rem;
    padding : var(--default-pd);
}

.admin-signup-container .form {
    height:100%;
    /*flex:1;*/
    
    box-shadow : var(--default-bs);
}

.admin-signup-container .place{
    /*flex:2;*/

    box-shadow : var(--default-bs);
}

