.depart-list[b-uq4pwmuq1t] {
    display: flex;
    flex-direction: column;
    gap: var(--half-pd);
}



.depart-list .depart-item[b-uq4pwmuq1t] {
    display: flex;
    justify-content:space-between; /* 선택버튼*/
    gap : var(--default-pd);
    width:100%;
    padding: var(--default-pd)  var(--half-pd);
    border-radius: var(--default-rd);
    font-size: var(--normal-size);
    font-weight: var(--bold-wt);
    transition: all ease-in-out 0.2s;
}


.depart-list .depart-item:hover[b-uq4pwmuq1t] {
    transition: all ease-in-out 0.2s;
    background-color: var(--main-color);
}

.depart-list .depart-add[b-uq4pwmuq1t] {
    display: flex;
    justify-content:center; /* 선택버튼*/
    gap : var(--default-pd);
    width:100%;
    padding: var(--half-pd);
    border-radius: var(--default-rd);
    font-size: var(--normal-size);
    font-weight: var(--bold-wt);
    box-shadow : 0 0 10px 0px darkgray;
    background-color: var(--main-color);
    
}

.depart-list .cancle[b-uq4pwmuq1t]{
    display: flex;
    justify-content:center; /* 선택버튼*/
    gap : var(--default-pd);
    width:100%;
    padding: var(--half-pd);
    border-radius: var(--default-rd);
    font-size: var(--normal-size);
    font-weight: var(--bold-wt);
    box-shadow : 0 0 10px 0px darkgray;
    background-color: var(--del-color);
}

.depart-list .depart-add:hover[b-uq4pwmuq1t] {
    transition: all ease-in-out 0.2s;
    background-color: var(--main-hover);
}

.depart-list .cancle:hover[b-uq4pwmuq1t] {
    transition: all ease-in-out 0.2s;
    background-color: var(--del-hover);
}

.depart-list .add-title[b-uq4pwmuq1t]{
    color : var(--default-color);
}

.depart-list .depart-add:hover .add-title[b-uq4pwmuq1t]{
     transition: all ease-in-out 0.2s;
    color: var(--default-color);
}

.depart-list .edit[b-uq4pwmuq1t]{
    background-color : var(--main-light);
}


.depart-list .depart-item:hover[b-uq4pwmuq1t]  .item-title {
    transition: all ease-in-out 0.2s;
    color: var(--default-color);
}

.item-title[b-uq4pwmuq1t]{
    color : var(--main-color);
}
/*.depart-list .depart-item ::deep .item-title{
    color : var(--main-color);
}*/
.depart-list .item-title:disabled[b-uq4pwmuq1t] {
    background-color: transparent;
    border: none;
    color: var(--main-color);
    font-weight: var(--bold-wt);
}

.depart-list .depart-item:hover .item-title:disabled[b-uq4pwmuq1t] {
    background-color : transparent;
}

.depart-list .depart-item:hover .item-input[b-uq4pwmuq1t]{
    background-color : transparent;
}

.hover:hover[b-uq4pwmuq1t]{
    cursor:pointer;
}

.active[b-uq4pwmuq1t] {
    background-color: var(--main-color);
}
.active .item-title[b-uq4pwmuq1t]{
    color : var(--default-color);
}


.depart-list .item-option[b-uq4pwmuq1t] {
    display: flex;
    align-items: center;
    gap: var(--half-pd);
}

.depart-list .edit-btn[b-uq4pwmuq1t] {
    border-radius : 50%;
    width: 12px;
    height: 12px;
    border : none;
    background-color: #e33c3c;
}

.depart-list .item-input[b-uq4pwmuq1t]{
    background-color : transparent;
    border : none;
    color : var(--main-color);
    font-weight : var(--bold-wt);
    outline :none;
}


.depart-list .btn-submit[b-uq4pwmuq1t]{
    
    background-color : #1ac71a;
}

.depart-list .depart-add-form[b-uq4pwmuq1t]{
    display:flex;
    flex-direction:column;
    
    gap: var(--half-pd);
}

.add-form[b-uq4pwmuq1t]{
    display:flex;
    gap: var(--half-pd);
}


.btns[b-uq4pwmuq1t] {
    display : flex;
    gap : var(--half-pd);
}