@page "/voc"
@using FamTec.Client.Pages.Normal.Voc.VocMain.Components

<div class="voc-container yappear">
    <div class="condition-container">

    </div>
    <div class="content-container">
        <VocHIstory />
    </div>
</div>

@code {
    


   

    
}
