@page "/voc"
@using FamTec.Client.Pages.Normal.Voc.VocMain.Components
@using FamTec.Shared.Client.DTO.Normal.Voc
@using FamTec.Shared.Server.DTO

<div class="voc-container yappear">
    <div class="condition-container">
        <SearchFilter 
            DefaultOption="@DefaultOption"
            MonthListData="@MonthVocData"
            OnDataChanged="OnDataChanged"
            OnMonthDataChanged="OnMonthDataChanged"
            OnSearchClicked="OnSearch"
            ListData="@VocData"
            />
    </div>
    @if (IsSearch)
    {
        <div class="content-container">
            <VocHIstory 
                ListData="VocData" 
                MonthListData="MonthVocData" 
                DefaultOption=@DefaultOption 
                IsLoading=@IsLoading
                />
        </div>
    }
</div>

@code {
    List<ListVocDTO> VocData = new List<ListVocDTO>();
    List<MonthVocListDTO> MonthVocData = new List<MonthVocListDTO>();
    int DefaultOption;
    bool IsSearch = false;
    bool IsLoading = false;

    protected override async Task OnInitializedAsync()
    {

    }


    private async Task OnMonthDataChanged((List<MonthVocListDTO> data, int option) changed)
    {
        Console.WriteLine("월간 1번");
        MonthVocData = changed.data;
        DefaultOption = changed.option;
        IsLoading = false;
        StateHasChanged();
    }

    private async Task OnDataChanged((List<ListVocDTO> data, int option) changed)
    {
        Console.WriteLine("기간 1번");
        VocData = changed.data;
        DefaultOption = changed.option;
        IsLoading = false;
        StateHasChanged();
    }


    private async Task OnSearch()
    {
        
        IsSearch = true;
        
        StateHasChanged();
    }
}
