.btn[b-fuww6vt5gg] { 
    border-radius :50%;
    width : 12px;
    height : 12px;
    border : none;
}

.color-0[b-fuww6vt5gg] {
    background-color: #e33c3c;
}

.color-1[b-fuww6vt5gg] {
    
    background-color: #f9d720;
}

.color-2[b-fuww6vt5gg] {
    background-color: #1ac71a;
}