.location-container{
    padding : var(--default-pd);
    width : 100%;
    height : 100%;
    overflow:hidden;

    display :flex;
    gap : var(--wide-pd);
}


.location-container .location-floor{
    flex : 1;
    
}

.location-container .location-location{
    flex : 4;
    
}