

<button class="btn @(Width ? null : "width") @(Type ? "type2" : "default")"
        @onclick="onClickBtn">
    @Name
</button>


@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public bool Type { get; set; }
    [Parameter] public bool Width { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }

    private async Task onClickBtn()
    {
        await OnClick.InvokeAsync();
    }

}
