@using FamTec.Shared.Client.DTO
@* @using FamTec.Shared.Server.DTO.Admin *@
@using FamTec.Shared.Client.DTO.Place

<table class="table">
    <thead class="thead">
        <tr class="thead-tr">
            <th class="th">
                <span>
                    사업장명
                </span>
            </th>
            <th class="th">
                <span>
                    계약번호
                </span>
            </th>
            <th class="th">
                <span>
                    계약일자
                </span>
            </th>
            <th class="th">
                
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
        @if(ListData == null)
        {
            <p>...Lodaing</p>
        }
        else
        {
             @foreach(var row in ListData)
            {
                <tr class="tbody-tr" @onclick=@(()=>onCheckItem(row))>
                    <td class="td pointer">
                        @row.Name
                    </td>
                    <td class="td pointer">
                       @row.ContractNum
                    </td>
                    <td class="td pointer">
                        @row.ContractDt?.ToString("yyyy-MM-dd")
                    </td>
                    <td class="td pointer">
                        <input type="checkbox" checked="@CheckItems.Any(p => p.Id == row.Id)" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    [Parameter] public List<AdminPlaceDTO> ListData { get; set; }
    [Parameter] public EventCallback<AdminPlaceDTO> OnCheck { get; set; }
    [Parameter] public List<AdminPlaceDTO> CheckItems { get; set; }

    List<AdminPlaceDTO> CheckedData = new List<AdminPlaceDTO>();




    private async void onCheckItem(AdminPlaceDTO place)
    {
        await OnCheck.InvokeAsync(place);
    }
}
