
.placemodal-backgroud {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: var(--modalback-color);
}


.placemodal-backgroud .placemodal-container {
    display: flex;
    justify-content: center;
    width : 60%;
    height:80%;
    
    border-radius:var(--default-rd);
    gap:var(--default-pd);
}

.placemodal-backgroud .placemodal-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--default-pd);
    width: 60%;
    height: 100%;
    max-height : 100%;
    padding: var(--default-pd);
    border-radius: var(--default-rd);
    border: var(--comp-bd);

    background-color: var(--default-color);
    box-shadow : var(--default-bs);
}

.placemodal-backgroud .placemodal-title {
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}


.placemodal-backgroud .placemodal-content {
    display: flex;
    flex-direction: column;
    gap: var(--default-pd);
    height:100%;
    overflow:hidden;
}


.placemodal-backgroud .placemodal-form{
    display : flex;
    gap : 1rem;
}

.placemodal-backgroud ::deep form {
    display: flex;
    flex-direction: column;
    gap: var(--default-pd);
    justify-content:center;
    height:100%;
    overflow:hidden;
}

.placemodal-backgroud .placeInfo-input{
    display: flex;
    flex-direction:column;
    padding:var(--default-pd);
    border: var(--default-bd);
    border-radius:var(--default-rd);
    width:100%;
}

.placemodal-backgroud .placemodal-toggle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--default-pd);
    padding:var(--default-pd);
    border-radius:var(--default-rd);
    border: var(--default-bd);
    width:100%;
}


.placemodal-backgroud .placemodal-manager {
    display: flex;
    flex-direction: column;
    border: var(--default-bd);
    border-radius: var(--default-rd);
    height:100%;
    overflow:hidden;
}

.placemodal-backgroud .placemodal-m-header {
    display: flex;
    justify-content: space-between;
    /*align-content: center;*/
    padding: var(--default-pd);
    border-bottom: var(--default-bd);
}

.placemodal-backgroud .placemodal-m-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--main-color);
}

.placemodal-backgroud .placemodal-m-list{
   overflow :auto;
   height:100%;
}

.placemodal-backgroud .placemodal-btns{
    width:100%;
    display:flex;
    gap:1.2rem;
}