.place-container[b-7e9i0smogu]{
    padding : var(--default-pd);
    height:100%;
    width:100%;
}

.place-wrap[b-7e9i0smogu] {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--default-pd);
    padding: var(--default-pd) var(--wide-pd);
    border-radius: var(--default-rd);
    border: var(--comp-bd);
    overflow: hidden;
    box-shadow : var(--shadow-1);
}

.place-container .place-header[b-7e9i0smogu] {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: var(--default-pd) 0;
    border-bottom: var(--default-bd);
}

.place-container .table-header-option[b-7e9i0smogu]{
    display : flex;
    gap : var(--half-pd);
}


.place-container .place-title[b-7e9i0smogu] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.place-container .place-table[b-7e9i0smogu]{
    overflow:auto;
    height:100%;
}