@page "/admin/place/{Id:int}"
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Admin.Place.PlaceDetail.Components
@using FamTec.Shared.Server
@using FamTec.Shared.Server.DTO
@using FamTec.Shared.Server.DTO.Admin.Place
@using FamTec.Shared.Server.DTO.Place
@inject HttpClient HttpClient

<div class="placedetail-container yappear">
    <div class="placedetail-wrap">
        <div class="placedetail-info">
            <PlaceForm placeInfo="PlaceInfo" EditMode=PlaceEdit />
        </div>
        <div class="placedetail-option">
            <div class="placedetail-toggle">
                <PlaceToggle placePerm=@PlacePerm EditMode=PlaceEdit />
            </div>
            <div class="placedetail-manager">
                <PlaceTable DataList="ManagerList" EditMode=PlaceEdit />
            </div>
        </div>
    </div>
    <div class="placedetail-btns">
        @if(PlaceEdit){
            <Button Name="저장" Width="true" Type=0 />
            <Button Name="취소" Width="true" Type=1 OnClick ="DetailMode" />
        }else{
            <Button Name="편집" Width="true" Type=0 OnClick ="EditMode" />
            <Button Name="나가기" Width="true" Type=1/>
        }
        
    </div>
    
</div>

@code {
    [Parameter] public int Id { get; set; }


    List<ManagerListDTO> ManagerList;
    PlaceInfo PlaceInfo;
    PlacePerm PlacePerm;
    PlaceDetailDTO resPlaceDetail;

    bool PlaceEdit = false;


    protected override async Task OnInitializedAsync()
    {
        await LoadPlaceDetailInfo();

    }

    private async Task LoadPlaceDetailInfo()
    {
        ResponseUnit<PlaceDetailDTO> res = await apiManager.GetUnitAsync<PlaceDetailDTO>($"AdminPlace/sign/DetailWorks?placeid={Id}");


        ManagerList = res.data.ManagerList;
        PlaceInfo = res.data.PlaceInfo;
        PlacePerm = res.data.PlacePerm;
        StateHasChanged();
    }


    private void EditMode()
    {
        PlaceEdit = true;
        StateHasChanged();
    }

    private void DetailMode()
    {
        PlaceEdit = false;
        StateHasChanged();
    }
}
    