.selectfield[b-bjmstyaofj] {
    display: flex;
    flex-direction: column;
    gap: var(--half-pd);
    width: 100%;
    min-width: 200px;
    position: relative;
}

.row[b-bjmstyaofj]{
    flex-direction:row;
    align-items:center;
    gap : var(--default-pd);
    
}

.label[b-bjmstyaofj]{
    min-width :50px;
    font-weight :var(--bold-wt);
    font-size : var(--normal-size);
    color : var(--main-color);
    /*white-space : nowrap;*/
    white-space : normal;
}


.requried[b-bjmstyaofj]::after {
    position: absolute;
    margin-left: 4px;
    content: '*';
    color: red;
}

.row>.selectbox>.display[b-bjmstyaofj] {
    /*background-color : var(--content-back-color);*/
}

.selectbox[b-bjmstyaofj]{
    position : relative;
    width : 100%;
    
}

.none[b-bjmstyaofj]{
    pointer-events : none;
}

.display[b-bjmstyaofj] {
    position : relative;
    display:block;
    width:100%;
    padding: var(--default-pd);
    border :var(--comp-bd);
    border-radius : var(--default-rd);
    background-color :var(--default-color);
    cursor : pointer;
    transition : all .3s;
    font-size : var(--normal-size);
}


.display:hover[b-bjmstyaofj],
.active[b-bjmstyaofj] {
    border: var(--default-bd);
}

.options[b-bjmstyaofj] {
    overflow : auto;
    display: none;
    position: absolute;
    margin-top: var(--half-pd);
    padding : var(--default-pd);
    width: 100%;
    max-height : calc(100%*5);
    border-radius: var(--default-rd);
    z-index :3;
    background-color :var(--default-color);
}
.active[b-bjmstyaofj] {
    display: block
}

.option-item[b-bjmstyaofj] {
    padding: var(--half-pd);
    border-radius: var(--default-rd);
    font-size: var(--normal-size);
    white-space : nowrap;
}

.option-item:hover[b-bjmstyaofj]{
   
    background-color : var(--main-color);
    color :var(--default-color);
}

