.status {
    display: inline-block;
    padding: var(--one-q-pd) var(--half-pd);
    /*padding : .2em .6em .3em;*/
    font-size: var(--normal-size);
    font-weight: 500;
    color: var(--default-color);
    border-radius: .25em;
}

.status-false {
    background-color: var(--status-0);
}

.status-True {
    background-color: var(--status-1);
}

.status- {
    background-color: var(--status-2);
}
