
<span class="status @StatusClass">
    @StatusText
</span>



@code {
    [Parameter] public string Status { get; set; }
    public string StatusClass => $"status-{Status}";
     public string StatusText => Status switch
    {
        "0" => "해약",
        "1" => "계약",
        "2" => "예정",
        _ => "Unknown"
    };
}
