@page "/facility/history"
@using FamTec.Client.Pages.Normal.Facility.MachineHistory.Components
@using FamTec.Shared.Client.DTO.Normal.Facility

<div class="container">
    <SearchFilter 
        OnSearchMonthData="OnChangeMonthData"
        OnSearchDurationData="OnChangeDuratopmhData"
        />
    @* @if ((MonthData != null) || (DurationData !=null))
    {
        <MaintanenceHistory 
            MonthData=MonthData 
            DurationData=DurationData 
        SearchOption="@FilterOption"/>
    } *@
    @if (FilterOption != 0)
    {
        <MaintanenceHistory MonthData=MonthData
                            DurationData=DurationData
                            SearchOption="@FilterOption" />
    }
</div>

@code {
    List<AllMaintanceHistoryDTO> MonthData;
    List<MaintanceHistoryDTO> DurationData;
    int FilterOption = 0;

    private void OnChangeMonthData(List<AllMaintanceHistoryDTO> data)
    {
        if(data == null)
        {
            MonthData = new List<AllMaintanceHistoryDTO>();
        }
        else
        {
            MonthData = data;
        }
        FilterOption = 1;

    }

    private void OnChangeDuratopmhData(List<MaintanceHistoryDTO> data)
    {
        if(data == null)
        {
            DurationData = new List<MaintanceHistoryDTO>();
        }
        else
        {
            DurationData = data;
        }
        FilterOption = 2;
        
    }
}
