@page "/facility/history"
@using FamTec.Client.Pages.Normal.Facility.MachineHistory.Components
@using FamTec.Shared.Client.DTO.Normal.Facility

<div class="container">
    <SearchFilter 
        OnSearchMonthData="OnChangeMonthData"
        OnSearchDurationData="OnChangeDuratopmhData"
        />
    @if ((MonthData != null) || (DurationData !=null))
    {
        <MaintanenceHistory 
            MonthData=MonthData 
            DurationData=DurationData 
            SearchOption="@FilterOption"/>
    }

</div>

@code {
    List<AllMaintanceHistoryDTO> MonthData;
    List<MaintanceHistoryDTO> DurationData;
    int FilterOption = 0;

    private void OnChangeMonthData(List<AllMaintanceHistoryDTO> data)
    {
        FilterOption = 1;
        MonthData = data;
    }

    private void OnChangeDuratopmhData(List<MaintanceHistoryDTO> data)
    {
        FilterOption = 2;
        DurationData = data;
    }
}
