@page "/material/inout/add"
@using FamTec.Client.Pages.Normal.Material.InOut.Add.Components

<div class="addinout">
    <div class="header">
        <Tab Tabs="Category" OnClick="OnTab" />
    </div>
    <SearchMaterial Tab="_tab" />
    
    <InForm />

    <InOutList Title="@(_tab==0 ? "입고 목록" : "출고 목록")" />
</div>

@code {
    List<string> Category = new List<string> { "입고", "출고" };
    private int _tab = 0;



    private async void OnTab(int idx)
    {
        _tab = idx;
    }
}
