@typeparam T

<RadzenCard Style="height:100%; grid-column:span 4; min-height:300px;">
    <RadzenColumn >
        <h4>@Title</h4>
        <RadzenChart>
            
            @foreach (KeyValuePair<string, string> i in PropertyTrans)
            {
                <RadzenStackedColumnSeries Data="Data" CategoryProperty="Month" Title="@i.Value" LineType="LineType.Dashed" ValueProperty="@i.Key">
                    <RadzenSeriesDataLabels Visible="@showDataLabels" />
                </RadzenStackedColumnSeries>
            }
            <RadzenColumnOptions Radius="5" Width="10" />
            
        </RadzenChart>
    </RadzenColumn>
</RadzenCard>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public List<T> Data { get; set; }
    [Parameter] public List<string> PropertyName { get; set; }
    [Parameter] public Dictionary<string, string> PropertyTrans { get; set; }


    bool showDataLabels = false;
}
