[b-j0bk1wjkni] rz-card~.chart-card {
    grid-column: span 12; /* 기본적으로 6칸이 아닌 12칸(전체 너비)을 사용 */
    min-height: 300px;
    height: 100%;
}

@media (min-width: 1200px) {
    [b-j0bk1wjkni] .chart-card {
        grid-column: span 6; /* 넓은 화면에서는 6칸만 사용 */
    }
}

/* 작은 화면에서 전체 너비 사용 */
@media (max-width: 768px) {
    [b-j0bk1wjkni] .chart-card {
        grid-column: 1 / -1;
    }
}
