
.processcard[b-e9o93o5ovf] {
    width: 100%; /* 부모의 너비를 따라감 */
    max-width: 100%; /* 부모를 초과하지 않도록 제한 */
    display: flex;
    flex-direction: column;
    gap: var(--wide-pd);
    padding: var(--default-pd);
    border: var(--default-bd);
    border-radius: var(--default-rd);
    box-shadow: var(--shadow-1);
    
}

.header[b-e9o93o5ovf]{
    display:flex;
    justify-content : space-between;
}

.options[b-e9o93o5ovf]{
    display :flex;
    gap : var(--half-pd);
    align-items : center;
}

.writer-wrap>span[b-e9o93o5ovf]{
    display : flex;
    align-items:flex-end;
}

.writer-wrap[b-e9o93o5ovf]{
    display : flex;
    gap : var(--half-pd);
}

.writer[b-e9o93o5ovf] {
    font-size: calc(var(--normal-size) + 0.1rem);
    color: var(--main-color);
    font-weight: var(--bold-wt);
}

.date[b-e9o93o5ovf] {
    font-size: calc(var(--explain-size) + 0.1rem);
    
}

.processcard .content[b-e9o93o5ovf] {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--default-pd);
    background-color: #ffffff;
    overflow: hidden; /* 내용이 넘치지 않도록 설정 */
}

.processcard .content-text[b-e9o93o5ovf]{
    display : flex;
    flex-direction:column;
    gap : var(--default-pd);
    width:100%;
    flex: 1
}
