.textfield[b-e5d0ioy9t2]{
    display : flex;
    gap : var(--half-pd);
    flex-direction : column;
    background-color : var(--default-color);
}

.label[b-e5d0ioy9t2]{
    font-size : var(--normal-size);
    font-weight : var(--bold-wt);
    color : var(--main-color);

    white-space : nowrap;
}

.content[b-e5d0ioy9t2]{
    height : 100%;
    border : var(--comp-bd);
    border-radius : var(--default-rd);

    background-color : var(--content-back-color);
    padding : var(--half-pd);
}

.text[b-e5d0ioy9t2]{
    font-size : var(--normal-size);
    font-weight : var(--normal-wt);
    color : #333;

}

.height[b-e5d0ioy9t2]{
    height : 100%;
    max-height: calc(var(--wide-pd) * 6);
}

 [b-e5d0ioy9t2] textarea {
    outline : none;
    border : none;
    resize : none;
    width : 100%;
    background-color :transparent;
}