.voccomment-container[b-u7thnazr4p] {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: var(--comp-bd);
    border-radius: var(--default-rd);
    background-color: var(--back-default-color);
    padding: var(--default-pd) var(--wide-pd);
    box-shadow: var(--shadow-1);
}


.voccomment-container .voccomment-title[b-u7thnazr4p] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    padding: var(--default-pd) 0;
    border-bottom: var(--default-bd);
}

.voccomment-container .title[b-u7thnazr4p]{
    display:flex;
    align-items:center;
    height:35px;
    color:var(--main-color);
}

.voccomment-container .voccomment-content[b-u7thnazr4p]{
   overflow : hidden;
}

.voccomment-overflow[b-u7thnazr4p]{
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    gap: var(--default-pd);
    height: 100%;
    padding: var(--default-pd) 0;

    overflow :auto;

    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}