@using FamTec.Shared.Client.DTO.Normal.Location


<ul class="floor-ul">
    @foreach(var building in Buildings.Select((value, idx)=> (value, idx)))
    {
        <li class="floor-li" tabindex="@building.idx">
            <span class="title">@building.value.Name</span>
            <ul class="floor-inner-ul">
                @foreach(var floor in building.value.FloorList.Select((v,idx) => (v,idx)))
                {
                    <li class="floor-inner-li" tabindex="@floor.idx" >
                        <span class="inner-title">
                            @floor.v.Name
                        </span>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

@code {
    [Parameter] public List<BuildingFloorListDTO> Buildings { get; set; }


}
