
.floor-ul .floor-li{
    display :flex;
    flex-direction : column;
    gap : var(--half-pd);
}


.floor-ul .title {
    display : block;

    border-radius : var(--default-rd);

    padding: var(--default-pd);
    color : var(--main-color);
    font-size : var(--noraml-size);
    font-weight : var(--bold-wt);

    transition : all 0.2s ease-in-out;
}

.floor-ul .floor-li:focus .title{
    background-color : var(--main-color);
    color:var(--default-color);
}

.floor-ul .title:hover {
    background-color : var(--main-color);
    color:var(--default-color);
    transition : all 0.2s ease-in-out;
}

.floor-ul .floor-inner-ul{
    visibility : hidden;
    flex-direction : column;
    gap :var(--half-pd);
    max-height: 0;
    opacity: 0;
    transition: all 0.2s ease;
}
/*
.floor-ul floor-inner-li{
    display : block;
}*/

.floor-ul .floor-inner-li:focus .inner-title {
    background-color: var(--main-light);
}

.floor-ul .inner-title{
    display : block;
    padding : var(--half-pd) var(--wide-pd);
    font-size:var(--normal-size);
    color : var(--main-color);

    border-radius : var(--default-rd);
}

.floor-ul .inner-title:hover{
    
    background-color : var(--main-light);
}

.floor-ul .floor-li:focus-within .floor-inner-ul {
    transition: all 0.2s ease-in;
    visibility: visible;
    display : flex;
    max-height: 1000px;
    transition: all 0.2s ease;
    opacity: 1;
    margin-top: var(--half-pd);
}

.floor-ul .title:hover {
    background-color: var(--main-color);
    color: var(--default-color);
    transition: all 0.3s ease-in-out;
}