@inherits PermissionComponentBase
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Normal.Location.LocationMain.Modal
@using FamTec.Shared.Client.DTO.Normal.Location
@using FamTec.Shared.Server.DTO


<div class="floor yappear">
    <div class="floor-wrap">
        <div class="floor-title">
            <span class="title">
                층 목록
            </span>
        </div>
        <div class="floor-contents">
            <FloorList Buildings=@ListData EditMode=@_editMode OnLoadFloor=OnLoadFloor />
        </div>
        @if (BASIC)
        {
            <div class="floor-btns">
                @if (_editMode)
                {
                    <Button Name="확인" Type="0" OnClick="OnEdit"/>
                }
                else
                {
                    <Button Name="수정"
                            Type="0"
                            OnClick=OnEdit />
                }
                
            </div>
        }

    </div>
</div>

@code {
    [Parameter] public List<BuildingFloorListDTO> ListData { get; set; }
    [Parameter] public EventCallback OnLoadFloor { get; set; }

    private bool _editMode = false;
    

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


    private void OnEdit()
    {
        _editMode = !_editMode;
        
    }



}
