.floor{
    height :100%;
    border : var(--comp-bd);
    border-radius : var(--default-rd);
    
    background-color :var(--default-color);
    box-shadow : var(--shadow-1);

    overflow : hidden;
}


.floor .floor-wrap{
    height: 100%;
    
    display : flex;
    flex-direction : column;
    padding : var(--default-pd);
    gap : var(--default-pd);
}

.floor .floor-title{
    padding : var(--default-pd);
    font-size : var(--title-size);
    font-weight : var(--bold-wt);
    border-bottom : var(--default-bd);
}

.floor .title{
    display:flex;
    align-items:center;
    height:33px;
    color : var(--main-color);
}

.floor .floor-contents{
    overflow:auto;
    height:100%;
}