
.floor-ul{
    display:flex;
    flex-direction : column;
    gap : var(--default-pd);
}

.floor-ul .floor-li {
    display: flex;
    flex-direction: column;
    gap: var(--half-pd);
}

.li-wrap{
    display : flex;
    justify-content : space-between;
}

.li-wrap:hover{
    cursor:pointer;
}

.floor-ul .title {
    /*display : block;*/
    display : flex;
    justify-content : space-between;
    align-items : center;

    border-radius : var(--default-rd);

    padding: var(--half-pd);
    color : var(--main-color);
    font-size : var(--noraml-size);
    font-weight : var(--bold-wt);

    transition : all 0.2s ease-in-out;
}

.center{
    display : flex;
    align-items : center;
}

.floor-ul .floor-inner-ul {
    visibility: hidden;
    flex-direction: column;
    gap: var(--half-pd);
    max-height: 0;
    opacity: 0;
    transition: all 0.2s ease;
}

.floor-ul .floor-inner-li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--half-pd);
    border-radius : var(--default-rd);
}

/*.floor-ul .floor-inner-li:focus .inner-title {
    background-color: var(--main-light);
}*/

.floor-ul .floor-inner-li:hover{
    background-color: var(--main-light);
}

.floor-ul .inner-title{
    display : block;
    font-size:var(--normal-size);
    color : var(--main-color);

    border-radius : var(--default-rd);
}

/*.floor-ul .inner-title:hover{
    
    background-color : var(--main-light);
}*/

.floor-ul .floor-li:focus-within .floor-inner-ul {
    transition: all 0.2s ease-in;
    visibility: visible;
    display : flex;
    max-height: 1000px;
    transition: all 0.2s ease;
    opacity: 1;
    margin-top: var(--half-pd);
}


.btns{
    display : flex;
    gap : var(--half-pd);
}