
.btn[b-nnxheo5jnq] {
    
    padding: var(--half-pd) var(--default-pd);
    border: none;
    border-radius: var(--default-rd);
    font-size: var(--normal-size);
    font-weight: var(--bold-wt);
    white-space:nowrap;
    transition : all .3s;
    /*border: var(--default-bd);*/
}

.btn:hover[b-nnxheo5jnq]{
    transition: all ease-in-out 0.2s;
}


/*.default {
    color: var(--default-color);
    font-weight : var(--bold-wt);
    border : 2px solid var(--main-color);
    background-color: var(--main-color);
}

.default:hover {
    transition : all ease-in-out 0.2s;
    background-color: var(--main-hover);
}*/

.type1[b-nnxheo5jnq] {
    color: var(--default-color);
    background-color: var(--main-color);
}
.type1:hover[b-nnxheo5jnq] {
    background-color: var(--main-hover);

}

.type2[b-nnxheo5jnq] {
    color: var(--default-color);
    background-color: var(--del-color);
}

.type2:hover[b-nnxheo5jnq]{
    background-color : var(--del-hover);
}

.type3[b-nnxheo5jnq] {
    color: var(--main-color);
    background-color: var(--main-light);
}

.type3:hover[b-nnxheo5jnq] {
    background-color: var(--main-color);
    color:var(--default-color);
}

.width[b-nnxheo5jnq]{
    width: 100%;
}


.valid[b-nnxheo5jnq]{
    background-color:var(--status-0)`
}

.valid:hover[b-nnxheo5jnq]{
    cursor : not-allowed;
    background-color:var(--status-0);
}

.type4[b-nnxheo5jnq] {
    background-color: #F0F0F0;
    color :darkgray;
    cursor: not-allowed;
}

.height[b-nnxheo5jnq]{
    height:100%;
}