
.btn[b-nnxheo5jnq] {
    height: 100%;
    padding: var(--half-pd) var(--default-pd);
    border: none;
    border-radius: var(--default-rd);
    font-size: var(--normal-size);
    /*border: var(--default-bd);*/
}


.default[b-nnxheo5jnq] {
    color: var(--default-color);
    font-weight : var(--bold-wt);
    background-color: var(--main-color);
}

.default:hover[b-nnxheo5jnq] {
    transition : all ease-in-out 0.2s;
    background-color: var(--main-hover);
}

.type2[b-nnxheo5jnq] {
    color: var(--default-color);
    font-weight: var(--bold-wt);
    background-color: var(--del-color);
}

.type2:hover[b-nnxheo5jnq]{
    transition : all ease-in-out 0.2s;
    background-color : var(--del-hover);
}

.width[b-nnxheo5jnq]{
    width: 100%;
}