.container[b-hr5m7sg4by] {
    position: relative;
}

.btn[b-hr5m7sg4by] {
    display: flex;
    gap: var(--half-pd);
    align-items: center;
    height: 100%;
    padding: var(--half-pd) var(--default-pd);
    border: none;
    border-radius: var(--default-rd);
    font-size: var(--normal-size);
    font-weight: var(--bold-wt);
    white-space: nowrap;
    transition: all .3s;
    position: relative;
    background-color: var(--main-color);
    width: 100%; /* 부모 요소의 너비에 맞추기 */
}

.btn:hover[b-hr5m7sg4by]{
    transition: all ease-in-out 0.2s;
}

.title[b-hr5m7sg4by]{
    color :white;
    font-size:var(--normal-size);
}

.icon[b-hr5m7sg4by] {
    font-size: var(--explain-size);
    color: white;
}


.list[b-hr5m7sg4by]{
    padding:var(--half-pd) 0;
    border:var(--comp-bd);
    border-radius:var(--default-rd);
    position:absolute;
    top:35px;
    right:0;

    background-color:white;
    z-index:10;
    transition : all .3s;
     width: 100%; /* 버튼의 너비에 맞추기 */
    /*box-shadow : 0 0 12px darkgray;*/
}


.li[b-hr5m7sg4by] {
    display: flex;
    align-items : center;
    padding: var(--half-pd);
    gap: var(--half-pd);
    transition : all .3s;
    
}

.li:hover[b-hr5m7sg4by]{
    cursor:pointer;
    background-color  :var(--main-color);
    
}
.li:hover .bi[b-hr5m7sg4by]{
    fill:white;
}

.li:hover .text[b-hr5m7sg4by]{
    color :white;
}

.text[b-hr5m7sg4by]{
    font-size:var(--normal-size);
    color:var(--main-color);
}

.block[b-hr5m7sg4by] {
    background-color:#f2f2f2;
}