:root {
    /*
        font-size
    */
    --title-size: 1.2rem;
    --normal-size: 0.8rem;
    --explain-size: 0.6rem;
    /*
        font-weight
    */
    --normal-wt: 400;
    --bold-wt: 700;
    /*
        color
    */
    --main-color: #223377;
    --mid-color: #9A89BS;
    --light-color: #EFEFEF;
    --content-back-color: #f5f8ff;
    --del-color: #832121;
    --modalback-color: #a9a9a9b2;
    --main-hover: #1b40d5;
    --main-light: #c6d1fd;
    --del-hover: #d31a1a;
    --default-color: #FFFFFF;
    --color-1: #e5e5e5;
    --status-0: gray;
    --status-1: #1dab2f;
    --status-2: #1b40d5;
    --status-del: #d31a1a;
    /*
        background-color
    */
    --back-default-color: #FFFFFF;
    /*
        border
    */
    --comp-bd: 2px solid #e9e9e9;
    --default-bd: 2px solid #223377;
    --layout-bd: 1px solid #d3d3d3;
    --input-bd: 2px solid #d3d3d3;
    --input-block-bd: 2px solid darkgray;
    /*
        border-radius
    */
    --default-rd: 6px;
    --multi-rd: 8px;
    /*
        padding
    */
    --wide-pd: 2rem;
    --default-pd: 1rem;
    --three-q-pd: 0.75rem;
    --half-pd: 0.5rem;
    --one-q-pd: 0.25rem;
    /*
        box-shadow
    */
    --default-bs: 0 10px 15px rgba(0, 0, 0, 0.16), 0 10px 15px rgba(0, 0, 0, 0.23);
    --shadow-1: 0 2px 12px lightgray;
}
