
.nav-container[b-wg5fiaa4ah] {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: min-content auto max-content;
    grid-template-areas: "logo ctrl tab";
    padding: 0.5rem 2rem;
    width: 100%;
    /*border-radius: 5px;*/
    /*border-bottom: 1px solid #d3d3d3;*/
    background-color:var(--main-color);
    font-weight: bold;
    /*box-shadow: 3px 3px 8px 0px rgb(201, 201, 201);*/
    /*position: sticky;*/
}

/* nav logo */

.nav-container .nav-logo[b-wg5fiaa4ah] {
    grid-area: logo;
    place-self: center;
    margin-right: 1rem;
    /*padding: 0.25rem;*/
    border-radius: var(--default-rd);
    /*color: #00cc8f;
    font-size: 1.5rem;
    font-weight: bold;*/
    cursor: pointer;
}

/*.nav-container ::deep .active {
    display: flex;
    align-items: center;
}*/

.nav-container .nav-logo img[b-wg5fiaa4ah] {
    display: flex;
    align-items: center;
    width: 150px;
}

/* nav ctrl-btn */
.nav-container .nav-ctrl[b-wg5fiaa4ah] {
    grid-area: ctrl;
    place-self: center;
}


.nav-container .nav-ctrl-wrap[b-wg5fiaa4ah] {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2rem;
    padding: var(--half-pd);
}

.nav-container .nav-ctrl-item[b-wg5fiaa4ah] {
}

.nav-container .nav-ctrl-item button[b-wg5fiaa4ah] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;


}


/* nav tab */

.nav-container .nav-tab[b-wg5fiaa4ah] {
    grid-area: tab;
    place-self: center end;
}


.nav-container .nav-divider[b-wg5fiaa4ah]{
    color : var(--default-color);
}
.nav-container .nav-usertype[b-wg5fiaa4ah] {
    font-size: 0.7rem;
    color: var(--main-light);
}
.nav-container .nav-username[b-wg5fiaa4ah] {
    font-size: var(--normal-size);
    color: var(--default-color);
}

.nav-container .nav-tab-wrap[b-wg5fiaa4ah] {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2rem;
    font-size: 0.9rem;
    color: var(--daflut-color);
}


.nav-container[b-wg5fiaa4ah]  .nav-tab-link {
    cursor : pointer;
    color: var(--default-color);
    font-size :var(--normal-size);
}

.nav-tab-item[b-wg5fiaa4ah],
.nav-usertype[b-wg5fiaa4ah],
.nav-username[b-wg5fiaa4ah]
{
    display:flex;
    gap : var(--one-q-pd);
    align-items : center;
}

.scale[b-wg5fiaa4ah]{
    transition : all .3s;
}

.alarm:hover[b-wg5fiaa4ah]{
    cursor:pointer;
}

.scale:hover[b-wg5fiaa4ah] {
    transform: scale(1.2);
    /*cursor : pointer;*/
}

.alarm[b-wg5fiaa4ah]{
    display :inline-block;
    position: relative;
}

.count[b-wg5fiaa4ah] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.5rem;
    right: -1.2rem;
    width: 1.5rem;
    /*height: 1.2rem;*/
    background-color: #e60f0f;
    color: white;
    font-size: 0.6rem;
    font-weight : bold;
    line-height: 1;
    text-align: center;
    padding: 0.3rem 0.5rem;
    border-radius: 40%;
}