

.infocard-container[b-2akvokpspo]{
    width : 100%;
    display : flex;
    flex-direction : column;

    background-color : var(--default-color);

    padding : var(--default-pd);

    border : var(--comp-bd);
    border-radius : var(--default-rd);
    box-shadow : var(--default-bs);
}

.infocard-container .infocard-header[b-2akvokpspo]{    
    display: flex;
    padding: var(--default-pd);
    justify-content: space-between;
    border-bottom: var(--default-bd);
}


.infocard-container .infocard-header > span[b-2akvokpspo]{
    display: flex;
    align-items: center;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}



.infocard-container .infocard-content[b-2akvokpspo]{
    width : 100%;
    display :flex;
}

.infocard-container .infocard-inputs[b-2akvokpspo]{
    flex:2;
    width:100%;
    display : grid;
    grid-template-columns : repeat(2,1fr);
    grid-column-gap : var(--wide-pd);
    grid-row-gap : var(--default-pd)
}

.infocard-container .infocard-img-area[b-2akvokpspo]{
    flex:1;
    min-width : 300px
}