.table[b-mp3mr0yprm] {
    border-collapse: separate;
    width: 100%;
    /*table-layout: fixed;*/
    /*height: 100%;*/
}

.table .thead[b-mp3mr0yprm]{
    background-color : var(--main-color);
    position:sticky;
    top:0;
    box-shadow: 0 8px 12px -2px #a1a1a1;
}

.table .th-tr[b-mp3mr0yprm]{
    background-color:var(--main-color);
    border-radius: var(--default-rd);
}

/*
    테이블 헤더 둥글게
*/
.table .th:first-child[b-mp3mr0yprm] {
    border-radius: 4px 0 0 4px;
}

.table .th:last-child[b-mp3mr0yprm] {
    border-radius: 0 4px 4px 0;
}
/* 둥글게 끝*/

.table .th[b-mp3mr0yprm]{
    padding:var(--three-q-pd);
    font-size:var(--normal-size);
    font-weight:var(--bold-wt);
   
}

.table .text-center[b-mp3mr0yprm]{
    text-align : center;
}

.table th>span[b-mp3mr0yprm]{
    color:var(--default-color);
     white-space : nowrap;
}

.table .tbody[b-mp3mr0yprm]{
    overflow:auto;
}

.table .tr[b-mp3mr0yprm]{
    border-bottom : var(--layout-bd);
}


.table .tr:hover td[b-mp3mr0yprm]{
    background-color:var(--main-light);
    
}

.table .td[b-mp3mr0yprm]{
    text-overflow: ellipsis;
    /*overflow:hidden;*/
    white-space: nowrap;
    word-break:break-all;

    padding:0.8rem;

    
    text-align: center;
    font-size:0.8rem;
    font-weight:var(--bold-wt);
    color : var(--main-color);
    border-bottom : var(--layout-bd);
}
.table .tbody-tr:hover td[b-mp3mr0yprm]{
    background-color:var(--main-light);
    
}

.table[b-mp3mr0yprm]  .table-td-link {
    color : var(--main-color);
}
