.user-container[b-d1uo8hyl0z] {
    padding: var(--default-pd);
    min-height: 100%;
    height:100%;
    overflow:hidden;
}

.user-container .user-wrap[b-d1uo8hyl0z]{
    background-color : var(--default-color);
    display : flex;
    flex-direction:column;
    gap :var(--default-pd);
    padding : var(--default-pd) var(--wide-pd);
    min-height: 100%;
    height:100%;
    border : var(--comp-bd);
    border-radius : var(--default-rd);
    box-shadow : var(--shadow-1);
}

.user-container .user-title[b-d1uo8hyl0z]{
    display : flex;
    justify-content:space-between;
    align-items:center;

    padding:var(--default-pd);
    border-bottom : var(--default-bd);
}

.user-container .title[b-d1uo8hyl0z]{
    white-space: nowrap;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.user-container .user-content[b-d1uo8hyl0z]{
    height:100%;
    max-height : 100%;
    overflow: auto;
}