@using FamTec.Client.Pages.Normal.Location.LocationMain.Components
@using FamTec.Shared.Client.DTO.Normal.Location.Inventory
@using FamTec.Shared.Client.DTO.Normal.Material.Detail


<div class="history">
    <div class="header">
        <span class="title">
            기간별 입출고내역
        </span>
        <div class="options">
            <SelectField 
                T=DetailMaterialListDTO
                Key="material"
                SelectData="@ListData"
                @bind-Value=@MaterialId
                EditMode="true" />
        </div>
        
    </div>
    <div class="content">
        <MaterialTable ListData="@FilterList" />
    </div>
</div>

@code {
    [Parameter] public List<DetailMaterialListDTO> ListData { get; set; }

    private int _materialId;
    int MaterialId
    {
        get => _materialId;
        set
        {
            _materialId = value;
            FilterData();
        }
    }

    List<InventoryRecordDTO> FilterList = new List<InventoryRecordDTO>();

    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine("검색 데이터 수 : "+ListData.Count);

        if(ListData != null && ListData.Any())
        {
            MaterialId = ListData[0].Id;
        }
        
        FilterData();
    }

    private void FilterData()
    {
        Console.WriteLine("동작 필터함수");
        if(_materialId == null)
        {
            FilterList = new List<InventoryRecordDTO>();
            StateHasChanged();
        }
        else
        {
            var selectedMaterial = ListData?.FirstOrDefault(m => m.Id == _materialId);
            FilterList = selectedMaterial?.InventoryList ?? new List<InventoryRecordDTO>();
            StateHasChanged();
        }
    }

}
