
.ul[b-mv1g747oa3] {
    display: flex;
    flex-direction: column;
    gap: var(--half-pd);
    
    padding : 0 var(--half-pd);
}

.li[b-mv1g747oa3] {
    display:flex;
    gap : var(--half-pd);
    align-items:center;
    padding: var(--one-q-pd) 0;
    animation: pulsate 6s linear infinite;
    color: #ffffff;
    font-size : 0.7rem;
}


.li:hover[b-mv1g747oa3]{
    background-color: #434041;
}

.li:focus[b-mv1g747oa3]{
    background-color: #434041;
}

