
.input-container[b-0t9nmcse6h] {
    outline: none;
    width: auto;
    border: var(--default-bd);
    border-radius: var(--default-rd);
    padding: var(--half-pd);
    font-size: var(--normal-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
    background-color:var(--main-light);
}

[b-0t9nmcse6h]::placeholder {
    color: var(--main-color);
}
