.modaldepart-container[b-id4obh3910] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: var(--default-rd);
    border: var(--comp-bd);
    gap: var(--default-pd);
    box-shadow: var(--default-bs);


}

.modaldepart-container .modaldepart-wrap[b-id4obh3910] {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--default-pd);
    width: auto;
/*    height:100%;*/
    padding: var(--default-pd);
    border-radius: var(--default-rd);
    background-color: var(--back-default-color);


}

.modaldepart-container .modaldepart-title[b-id4obh3910]{
    display : flex;
    justify-content : space-between;
}


.modaldepart-container .modaldepart-title>span[b-id4obh3910]{
    display : flex;
    align-items:center;
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}



.modaldepart-container .modaldepart-body[b-id4obh3910]{
    display : flex;
    flex-direction : column;
    gap : var(--default-pd);

}

.modaldepart-container .modaldepart-list[b-id4obh3910] {
    border: var(--default-bd);
    border-radius: var(--default-rd);
    padding: var(--half-pd);

    height : 400px;
    overflow:auto;
}

.modaldepart-container .modaldepart-btns[b-id4obh3910]{
    display:flex;
    gap : var(--half-pd);
}


.modaldepart-container .modaldepart-add[b-id4obh3910]{
    display : flex;
    flex-direction : column;

    gap : var(--half-pd);

    font-size : var(--title-size);
    font-weight : var(--bold-wt);
    
}

.modaldepart-container .modaldepart-add>span[b-id4obh3910]{
    color : var(--main-color);
}

.modaldepart-container .modaldepart-input[b-id4obh3910]{
    display:flex;
    gap : var(--half-pd);
}