.admin-signup-container[b-e9xqng0i4t]{
    display : flex;
    flex-direction : column;
    width : 100%;
    height : 100%;

    gap : var(--default-pd);
}


.admin-signup-container .admin-signup-wrap[b-e9xqng0i4t] {
    display: flex;
    gap: var(--wide-pd);
    height: 100%;
    flex: 1;
    overflow: hidden;
    padding : var(--default-pd);
}

.admin-signup-container .btns[b-e9xqng0i4t]{
    display :flex;
    justify-content:flex-end;
    gap : 0.5rem;
    padding : var(--default-pd);
}

.admin-signup-container .form[b-e9xqng0i4t] {
    height:100%;
    flex:1;
    
    box-shadow : var(--default-bs);
}

.admin-signup-container .place[b-e9xqng0i4t]{
    flex:2;

    box-shadow : var(--default-bs);
}

