.voc{
    display : flex;
    flex-direction : column;
    justify-content :space-between;
    gap : var(--wide-pd);
    min-height:100%;
    height:auto;
}

.voc .header{
    /*padding : var(--default-pd) 0;*/
}

.title{
    font-size : var(--title-size);
    font-weight : var(--bold-wt);
    color : var(--main-color);
}


.content{
    flex : 1;
    min-height:500px;
    height:100%;
    display : flex;
    flex-direction :column;
    gap:var(--default-pd);
    /*overflow : auto;*/
}

.checkitem{
    height:250px;
}

.btns {
    display: flex;
    gap: var(--default-pd);
}

.blockbtn{
    cursor : not-allowed;
    width : 100%;
    border : none;
    outline : none;
    border-radius : var(--default-rd);
    padding : var(--half-pd);
    font-size : var(--normal-size);
    font-weight:var(--bold-wt);
    color : darkgray;
    height:100%;
}

.row {
    display :flex;
    gap : var(--default-pd);
    height:100%;
}

.flex3{
    flex:4;
}

.flex1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--half-pd);
}

.text{
    font-size:var(--normal-size);
    color : var(--main-color);
}

.none{
    opacity:0
}