.useradd-container[b-4vj0kli24n] {
    display: flex;
    flex-direction: column;
    gap: var(--wide-pd);
    padding: var(--wide-pd);
}

.useradd-container .useradd-wrap[b-4vj0kli24n]{
    display: flex;
    flex-direction: column;
    gap: var(--wide-pd);
}


.useradd-container .useradd-btns[b-4vj0kli24n] {
    padding: var(--default-pd);
    display: flex;
    gap: var(--half-pd);
    justify-content: flex-end;
}