.modal {
    width: 100%;
    height: 100%;
    background-color: #4e4e4e61;
    position: relative;
    box-shadow: 0 0 10px 2px #4e4e4e;
    /* 하드웨어 가속 활성화 */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    /* 필요한 경우 렌더링 레이어 분리 */
    will-change: transform;
}

.content {
    display:flex;
    justify-content:center;
    width: 100%;
    height:100%;
    /*background-color: var(--default-color);*/
}

.left-btn{
    position:absolute;
    top : 50%;
    left : 2rem;
    width:2rem;
}

.right-btn {
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 2rem;
}

.btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    width:1.5rem;
    justify-content: flex-end;
}

.img-wrap{
    display : flex;
    align-items:center;
    justify-content:center;
    width:80%;
    height:100%;
    /*background-color : var(--default-color);*/
}
.img{
    object-fit : scale-down;
    width:100%;
    height:100%;
}

