

.empty
{
    display : flex;
    flex-direction : column;
    justify-content : center;
    gap:var(--default-pd);
    align-items : center;
    min-height : 300px;
    opacity : 0.7;
}

.label{
    font-size : 1.3rem;
    font-weight : var(--bold-wt);
    color : var(--main-color);
}