

.inputmonth {
    width:100%;
    display : flex ;
    flex-direction : column;
    gap : var(--half-pd);
}

.row{
    flex-direction:row;
    gap : var(--default-pd);
}

.label{
    display : flex;
    align-items:center;
    min-width: 50px;
    font-size: var(--normal-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
    /* white-space: nowrap; */
    white-space: normal;
}

.inputwrap {
    width:100%;
    display:flex;
    gap : var(--default-pd);
}

.input {
    width: 20%;
    border: none;
    padding: var(--half-pd);
    border-radius: var(--default-rd);
    border: var(--comp-bd);
    font-size: var(--normal-size);
    
    
    transition: all .3s;
}

.start:focus, .start:target {
    border: var(--default-bd);
}

.end:focus {
    border: var(--default-bd);
}

.text{
    display:flex;
    align-items:center;
    justify-content:center;
    color : var(--main-color);
    font-weight : bold;
}