
.input-container {
    outline: none;
    width: auto;
    border: var(--comp-bd);
    border-radius: var(--default-rd);
    padding: var(--half-pd);
    font-size: var(--normal-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
    transition : all .3s;
    /*background-color:var(--main-light);*/
}

.input-container:focus{
    border: var(--default-bd);
}

.padding {
    padding: var(--default-pd);
}

::placeholder {
/*    color: var(--main-color);*/
}

.width {
    width:100%;
}