
.input-container {
    outline: none;
    width: auto;
    border: var(--default-bd);
    border-radius: var(--default-rd);
    padding: var(--half-pd);
    font-size: var(--normal-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
    background-color:var(--main-light);
}

::placeholder {
    color: var(--main-color);
}

.width {
    width:100%;
}