.table-container{
    width:100%;
    /*table-layout : fixed;*/
    padding : var(--three-q-pd);
    
}

.table-container .table-head{
    position:sticky;
    top:0;
    box-shadow: 0 8px 12px -2px #a1a1a1;
}

.table-container .thead-tr{
    background-color:var(--main-color);
    border-radius: var(--default-rd);
}

.table-container .table-th{
    color:var(--default-color);
    padding:var(--three-q-pd);
    font-size:var(--normal-size);
    font-weight:var(--bold-wt);
    white-space : nowrap;
}

/*
    테이블 헤더 둥글게
*/
.table-container .table-th:first-child {
    border-radius: 4px 0 0 4px;
}

.table-container .table-th:last-child {
    border-radius: 0 4px 4px 0;
}
/* 둥글게 끝*/

.table-container .table-body{
    overflow:auto;
}

.table-container .tbody-tr{
    border-bottom : var(--layout-bd);
}


.table-container .tbody-tr:hover td{
    background-color:var(--main-light);
    
}

.table-container .table-td{
    text-overflow: ellipsis;
    /*overflow:hidden;*/
    white-space: nowrap;
    word-break:break-all;

    padding:0.8rem;

    
    text-align: center;
    font-size:0.8rem;
    font-weight:var(--bold-wt);
    color : var(--main-color);
}

.table-container ::deep .table-td-link {
    color : var(--main-color);
}
