<div class="textfield @(Row ? "row":"")">
    <label class="label">
        @Label
    </label>
    <p class="text @(Color? "color":"")">
        @Value
    </p>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public bool Color { get; set; }
    [Parameter] public bool Row { get; set; }

}
