<label class="toggle-container">
    <span class="toggle-title">@Title</span>
    <input 
        class="toggle-input" 
        type="checkbox" 
        role="switch" 
        @onchange="OnValueChanged"
        disabled="@(!EditMode)" 
        />
    @* <span class="toggle-title">@Title</span> *@
</label>



@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public bool EditMode { get; set; } = false; //비활성화 여부
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    // private bool _value
    // {

    //     get => Value;
    //     set
    //     {
    //         Console.WriteLine(Value);
    //         if(Value != value)
    //         {
    //             ValueChanged.InvokeAsync(value);
    //         }
    //     }

    // }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Console.WriteLine( Title+ e.Value);
        if (bool.TryParse(e.Value?.ToString(), out bool newValue))
        {
            await ValueChanged.InvokeAsync(newValue);
        }
    }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}
