.modal[b-1fl9yy64cm]{
    display: flex;
    flex-direction: column;
    gap: var(--default-pd);
    padding: var(--default-pd);
    border-radius: var(--default-rd);
    border: var(--default-bd);
    width: 30%;
    background-color: var(--default-color);
    box-shadow: var(--default-bs);
}

.header[b-1fl9yy64cm] {
    
}

.title[b-1fl9yy64cm] {
    font-size: var(--title-size);
    font-weight: var(--bold-wt);
    color: var(--main-color);
}

.modal .input[b-1fl9yy64cm]{
    display:flex;
    flex-direction:column;
    gap:var(--half-pd);
}

.modal .input>label[b-1fl9yy64cm]{
    place-self: center;
    padding: var(--half-pd) 0;
    width: 100%;
    font-weight: var(--bold-wt);
    font-size: var(--normal-size);
    white-space: nowrap;
    color: var(--main-color);
    
}

.modal .input>input[b-1fl9yy64cm]{
    border : var(--comp-bd);
    border-radius : var(--default-rd);
    padding : var(--default-pd);
    transition : all 0.3s;
    outline: none;
}

.modal .input>input:focus[b-1fl9yy64cm]{
    border : var(--default-bd);
    background-color : var(--content-back-color);
}


.content[b-1fl9yy64cm]{
    display : fle
}

.item-header[b-1fl9yy64cm]{
    display : flex;
    justify-content:space-between;
    align-items:center;
}

.item-header >span[b-1fl9yy64cm]{
    place-self: center;
    padding: var(--half-pd) 0;
    width: 100%;
    font-weight: var(--bold-wt);
    font-size: var(--normal-size);
    white-space: nowrap;
    color: var(--main-color);
}


.value-ul[b-1fl9yy64cm]{
    display : flex;
    flex-direction:column;
    gap :var(--half-pd);
}

.value-li[b-1fl9yy64cm]{
    display:flex;
    gap: var(--default-pd)
}

.value-input[b-1fl9yy64cm]{
    width:100%;
    border : var(--comp-bd);
    border-radius : var(--default-rd);
    padding : var(--default-pd);
    transition : all 0.3s;
    outline: none;
}

.value-input:focus[b-1fl9yy64cm]{
    border : var(--default-bd);
    background-color : var(--content-back-color);
}

.btns[b-1fl9yy64cm]{
    display :flex;
    gap:var(--default-pd);
}