@page "/admin/place/add"
@using FamTec.Client.Pages.Admin.Place.PlaceAdd.Components
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO
@using FamTec.Shared.Client.DTO.Place
@using FamTec.Shared.Server.DTO

<div class="container">
    <div class="section">
        <PlaceInfo Place="@Place" />
    </div>
    <div class="section-row">
        <PlacePerm Place="@Place"/>
        <PlaceManager SelectList="@ManagerList" />
    </div>
    <div class="btns">
        <Button Name="저장" Width=true Type=0 OnClick="@OnAddPlace" />
        <Button Name="취소" Width=true Type=1 />
    </div>
</div>

@code {
    //사업장 정보 + 권한
    AddPlaceDTO Place = new AddPlaceDTO();

    //서버 전송 데이터
    AddPlaceManagerDTO<ManagerDTO> PlaceManager = new AddPlaceManagerDTO<ManagerDTO>();

    //매니저 추가 리스트
    List<ManagerDTO> ManagerList = new List<ManagerDTO>();


    private async Task OnAddPlace()
    {
        try
        {
            Console.WriteLine("[사업장 추가 시작]");
            Console.WriteLine("사업장 코드 : " + Place.PlaceCd);
            Console.WriteLine("사업장 계약일자 : " + Place.ContractDt);
            Console.WriteLine("사업장 기계권한 : " + Place.PermMachine);
            Console.WriteLine("사업장 민원권한 : " + Place.PermVoc);

            foreach (var i in ManagerList)
            {
                Console.WriteLine("매니저 : "+i.Name);
            }
            Console.WriteLine("[사업장 추가 끝]");


            ResponseUnit<int?> resPlace = await apiManager.PostAsync<int?>("AdminPlace/sign/AddWorks", Place);
            if (resPlace.code != 200 || resPlace.data == null)
            {
                await JS.InvokeVoidAsync("alert", "사업장 등록 실패");
                /*
                * 롤백 요청 코드 추가 예정
                */
                return;
            }
            if (resPlace.data == null)
            {
                return;
            }
            PlaceManager.PlaceId = resPlace.data;
            PlaceManager.PlaceManager = ManagerList;
            ResponseUnit<bool> resManager = await apiManager.PostAsync<bool>("AdminPlace/sign/AddPlaceManager", PlaceManager);
            if (resManager.code != 200)
            {
                await JS.InvokeVoidAsync("alert", "매니저 등록실패");
                return;
            }
            await JS.InvokeVoidAsync("alert", "매니저 등록 성공");
            Navigation.NavigateTo("/admin/place");

            return;
        }catch(Exception ex)
        {
            
        }
    }
}
