@page "/admin/place/add"
@using FamTec.Client.Pages.Admin.Place.PlaceAdd.Components
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Shared.Client.DTO
@using FamTec.Shared.Client.DTO.Place
@using FamTec.Shared.Server.DTO

<div class="container yappear">
    <div class="section">
        <PlaceInfo Place="@Place" />
    </div>
    <div class="section-row">
        <PlacePerm Place="@Place"/>
        <PlaceManager SelectList="@ManagerList" />
    </div>
    <div class="btns">
        <Button Name="등록" Width=true Type=0 OnClick="@OnAddPlace" />
    </div>
</div>

@code {
    //사업장 정보 + 권한
    AddPlaceDTO Place = new AddPlaceDTO();

    //서버 전송 데이터
    AddPlaceManagerDTO<ManagerDTO> PlaceManager = new AddPlaceManagerDTO<ManagerDTO>();

    //매니저 추가 리스트
    List<ManagerDTO> ManagerList = new List<ManagerDTO>();


    private async Task OnAddPlace()
    {
        try
        {
            if(String.IsNullOrEmpty(Place.PlaceCd) || String.IsNullOrEmpty(Place.Name))
            {
                await JS.InvokeVoidAsync("alert", "사업장 코드 또는 사업장명 공백입니다.");
                return;
            }
            ResponseUnit<int?> resPlace = await apiManager.PostAsync<int?>("AdminPlace/sign/AddWorks", Place);
            if (resPlace.code != 200)
            {
                await JS.InvokeVoidAsync("alert", resPlace.message);
                return;
            }

            PlaceManager.PlaceId = resPlace.data;
            PlaceManager.PlaceManager = ManagerList;

            if(ManagerList.Count != 0)
            {
                ResponseUnit<bool> resManager = await apiManager.PostAsync<bool>("AdminPlace/sign/AddPlaceManager", PlaceManager);
                if (resManager.code != 200)
                {
                    await JS.InvokeVoidAsync("alert", resManager.message);
                    return;
                }
            }

            await JS.InvokeVoidAsync("alert", "사업장 등록 성공");
            Navigation.NavigateTo("/admin/place");

            return;
        }catch(Exception ex)
        {
            await JS.InvokeVoidAsync("alert", "사업장 등록 에러");
        }
    }
}
