@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Admin.Manager.ManagerMain.Modal
@using FamTec.Shared.Client.DTO
@using FamTec.Shared.Server
@using FamTec.Shared.Server.DTO


@inject HttpClient HttpClient

<div class="depart-container">
    <div class="depart-wrap">
        <div class="depart-title">
            <span class="title">
                부서관리
            </span>
        </div>
        <div class="depart-content">
            @if(departmentList == null)
            {
                <Loading/>
            }
            else
            {
                <DepartmentList DataList="departmentList"
                                OnLoadDepartments="LoadDepartments"
                                Select="OnCheck"
                                CheckItems="@DelList"
                                Edit=EditMode />
            }
            
        </div>
        <div class="depart-btns">
            @if(UserType)
            {
                if (EditMode)
                {
                    <Button Name="닫기" Type="0" OnClick="OnEditMode" />
                    @if(DelList.Count > 0)
                    {
                        <Button Name="삭제" Type="1" OnClick="OnDelDepartments" />
                    }
                    
                }
                else
                {
                    <Button Name="편집" OnClick="@OnEditMode" Type=0 />
                }
                
            }
            
        </div>
    </div>
</div>

@code {
    [Parameter] public bool UserType{ get; set; }

    List<DepartmentDTO>? departmentList;
    private bool is_openModal = false;
    private bool EditMode = false;
    List<int> DelList = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        await LoadDepartments();

    }

    private async Task LoadDepartments()
    {
        try
        {
            ResponseList<DepartmentDTO> resDepartment = await apiManager.GetListAsync<DepartmentDTO>("Department/sign/GetDepartmentList");
            if (resDepartment.code != 200)
            {
                await JS.InvokeVoidAsync("alert", "부서 조회 실패"); 
                return;
            }
            if(resDepartment.data == null)
            {
                departmentList = new List<DepartmentDTO>();
            }
            else
            {
                departmentList = resDepartment.data;
            }

            StateHasChanged();
        }catch(Exception ex)
        {
            Console.WriteLine($"[Admin][Department] 클라이언트 부서 조회 에러");
        }

    }

    private async Task ReloadDepartments()
    {
        await LoadDepartments();
    }



    //부서삭제
    private async Task OnDelDepartments()
    {
        try
        {
            if(DelList.Count == 0)
            {
                await JS.InvokeVoidAsync("alert", "삭제할 부서를 선택해주세요.");
                return;
            }
            ResponseUnit<bool> resDel = await apiManager.PutAsync<bool>("Department/sign/DeleteDepartment",DelList);
            if(resDel.code != 200)
            {
                await JS.InvokeVoidAsync("alert", resDel.message);
                return;
            }
            await LoadDepartments();
            DelList.Clear();
            StateHasChanged();
        }catch(Exception ex)
        {
            Console.WriteLine($"[Admin][Department] 클라이언트 부서 삭제 에러");
        }
    }


    private void OnCheck((bool isChecked, int id) data)
    {
        if (data.isChecked)
        {
            DelList.Add(data.id);
        }
        else
        {
            DelList.Remove(data.id);
        }
    }

    /*
    * click add
    */
    private void OnEdit()
    {
        Console.WriteLine("모달");
        is_openModal = true;
    }

    private void OnModalClose()
    {
        is_openModal = false;
        StateHasChanged();
    }

    private void OnEditMode()
    {
        EditMode = !EditMode;
    }
}

