
.depart-container{
    overflow:hidden;

    border : var(--comp-bd);
    border-radius:var(--default-rd);
    background-color : var(--back-default-color);
    height: 100%;
    box-shadow: var(--shadow-1);
    
}

.depart-container .depart-wrap{
    height: 100%;
    
    display : flex;
    flex-direction : column;
    padding : var(--default-pd);
    gap : var(--default-pd);
}

.depart-container .depart-title{
    padding : var(--default-pd);
    font-size : var(--title-size);
    font-weight : var(--bold-wt);
    border-bottom : var(--default-bd);
}

.depart-container .depart-title .title{
    display:flex;
    align-items:center;
    height:33px;
    color : var(--main-color);
}

.depart-container .depart-content{
    overflow:auto;
    height:100%;
}

.depart-btns{
    display : flex;
    gap : var(--default-pd);
}

/*.depart-container .depart-item{
    padding:0.5rem;
    
    border-radius : 4px;

    font-size : 0.8rem;
    font-weight: bold;
}

.depart-container .depart-item:hover{
    transition : all ease-in-out 0.2s;
    background-color : #200d69;
    
}

.depart-container .depart-item:hover ::deep span{
    transition : all ease-in-out 0.2s;
    color : #ffffff;
}

.depart-container .depart-item>span{
    color : #4f4f4f;
}*/