.form-container[b-hqmk3b7mpz]{
    display : flex;
    flex-direction : column;
    gap:var(--wide-pd);
    height:100%;

    border : var(--comp-bd);
    border-radius : var(--default-rd);
    background-color : var(--back-default-color);
    box-shadow:var(--shadow-1);
    padding : var(--default-pd);
}

.form-container .form-title[b-hqmk3b7mpz]{
    font-size : var(--title-size);
    font-weight : var(--bold-wt);

    padding:var(--default-pd);

    border-bottom : var(--default-bd);
}

.form-container .title[b-hqmk3b7mpz]{
    display:flex;
    align-items:center;
    height:35px;
    color:var(--main-color);
}

.img-area[b-hqmk3b7mpz] {
    display: flex;
    flex-direction: column;
    gap :var(--half-pd);
    justify-content: space-between;
    width: 400px;
    max-width: 100%;
}

.form-container .form-input[b-hqmk3b7mpz]{
    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;*/
    width:100%;
    display:grid;
    grid-template-columns : repeat(4, 1fr);
    gap: var(--default-pd);
    height: 100%;
    padding: var(--default-pd);

}

.content[b-hqmk3b7mpz]{
    display:flex;
    gap: var(--default-pd);
    width:100%;
}
