@page "/facility/{FacType}/{FacId:int}/maintenance/{MaintenanceId:int}"
@inherits PermissionComponentBase
@using FamTec.Client.Pages.CommonComponents
@using FamTec.Client.Pages.Normal.Facility.Maintenance.DetailMaintence.Components
@using FamTec.Shared.Client.DTO.Normal.Facility.Maintenance
@using FamTec.Shared.Client.DTO.Normal.Material.InOut
@using FamTec.Shared.Server.DTO


<div class="container">
    @* <InfoCard @bind-Maintenance=Maintenance OriginalMaintenance="@OriginalMaintenance" /> *@
    <InfoCard Maintenance="@Maintenance" OnLoadMaintenance="OnLoadMaintenance" />

    @if (Maintenance.Type == 1)
    {
        @if (_useMaterialEditMode)
        {
            <SearchMaterial @bind-Data=@SelectMaterial EditMode=_useMaterialEditMode/>
            @if (SelectMaterial.Id != 0)
            {
                <OutForm MaterialId="SelectMaterial.Id" AddItem="@MaintenanceStore"/>
                <div class="btn">
                    <Button Name="자재 추가" Width=true Type="0" OnClick=@OnAddMaterial />
                </div>
            }
        }
        <InOutList 
            ListData="@Maintenance.UseMaterialList" 
            EditMode=_useMaterialEditMode 
            OnEdit="OnEdit"
            OnLoadMaintenance="OnLoadMaintenance"
            />
    }

</div>

@code {
    [Parameter] public string FacType { get; set; }
    [Parameter] public int FacId { get; set; }
    [Parameter] public int MaintenanceId {get;set;}
    // AddMaintenanceDTO Maintenance = new AddMaintenanceDTO();
    AddStoreDTO MaintenanceStore = new AddStoreDTO();
    MaterialSearchListDTO SelectMaterial = new MaterialSearchListDTO();


    DetailMaintenanceDTO Maintenance;
    //원본 유지보수 데이터
    DetailMaintenanceDTO OriginalMaintenance;

    List<InOutInventoryDTO> UseMaterial = new List<InOutInventoryDTO>(); //사용자재


    //=====사용자재추가=======
    AddMaintetanceMaterialDTO AddMaintenance = new AddMaintetanceMaterialDTO();



    //사용자재 목록 편집 상태 변수
    bool _useMaterialEditMode = false; 


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await OnLoadMaintenance();
    }

    /// <summary>
    /// 유지보수 정보 조회
    /// </summary>
    /// <returns></returns>
    private async Task OnLoadMaintenance()
    {
        try
        {
            ResponseUnit<DetailMaintenanceDTO> resGet = await apiManager.GetUnitAsync<DetailMaintenanceDTO>($"Maintenance/sign/GetDetailMaintance?Maintanceid={MaintenanceId}");
            if(resGet.code != 200)
            {
                await JS.InvokeVoidAsync("alert", resGet.message);
                return;
            }
            Maintenance = new DetailMaintenanceDTO(resGet.data);
            Maintenance.UseMaterialList = new List<UseMaterialDTO>(resGet.data.UseMaterialList);

            // await OnConverDTO();
        }catch(Exception ex)
        {

        }
    }







    //출고 목록데이터 받아오는 함수
    //출고 데이터 목록에 추가
    private async Task OnAddMaterial()
    {
        try
        {
            Console.WriteLine("추가 할 자재명 : " + SelectMaterial.Name);
            Console.WriteLine("출고 위치 : " + MaintenanceStore.RoomID);
            Console.WriteLine("출고 수량 : " + MaintenanceStore.Num);
            if (MaintenanceStore.Num == 0 ||
                SelectMaterial.Id == 0 ||
                MaintenanceStore.RoomID == 0
            )
            {
                await JS.InvokeVoidAsync("alert", "자재 및 출고 내용을 확인해 주세요.");
                MaintenanceStore = new AddStoreDTO();
                StateHasChanged();
                return;
            }
            await OnSum();

            Console.WriteLine("유지보수 아이디 : " + AddMaintenance.MaintanceID);
            Console.WriteLine("사용 자재 : " + AddMaintenance.MaterialList[0].MaterialID);
            Console.WriteLine("위치 : " + AddMaintenance.MaterialList[0].RoomID);
            Console.WriteLine("단가: " + AddMaintenance.MaterialList[0].UnitPrice);
            Console.WriteLine("수량 : " + AddMaintenance.MaterialList[0].Num);
            Console.WriteLine("총금액: " + AddMaintenance.MaterialList[0].TotalPrice);

            // ResponseUnit<bool> resPost = await apiManager.PostAsync<bool>("Maintenance/sign/AddSupMaintenance", AddMaintenance);
            // if(resPost.code != 200)
            // {
            //     await JS.InvokeVoidAsync("alert", resPost.message);
            //     return;
            // }
            // OnLoadMaintenance();
            // StateHasChanged();

        }
        catch (Exception ex)
        {

        }
    }

    //추가 사용자재 단일이지만 리스트로 구현되어 일단 리스트로 사용하기로함
    private async Task OnSum()
    {
        AddMaintenance.MaintanceID = MaintenanceId;
        MaterialDTO tempMaterial = new MaterialDTO();
        tempMaterial.MaterialID = SelectMaterial.Id;
        tempMaterial.RoomID = MaintenanceStore.RoomID;
        tempMaterial.Num = MaintenanceStore.Num;
        tempMaterial.UnitPrice = MaintenanceStore.UnitPrice;
        tempMaterial.TotalPrice = MaintenanceStore.TotalPrice;
        tempMaterial.Note = MaintenanceStore.Note;
        AddMaintenance.MaterialList.Add(tempMaterial);
    }

 

    private void OnEdit()
    {
        _useMaterialEditMode = !_useMaterialEditMode;
    }
}
